<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> <strong>Student Attendance Entry</strong>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label class="col-md-4 col-form-label">Attendance Type</label>
                <div class="col-md-8">
                    <label class="radio-inline" for="inline-radio1">
                    <input type="radio" id="inline-radio1" name="inline-radios" value="ExtraClass"> Extra Class
                     </label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="disabled-input">Semester Code</label>
                <div class="col-md-2">
                    <select id="select" name="select" class="form-control">
                    <option value="0">Please select</option>
                    <option value="1">Option #1</option>
                    <option value="2">Option #2</option>
                    <option value="3">Option #3</option>
                  </select>
                </div>
                <label class="col-md-2 col-form-label" for="disabled-input">Subject</label>
                <div class="col-md-2">
                    <select id="select" name="select" class="form-control">
                    <option value="0">Please select</option>
                    <option value="1">Option #1</option>
                    <option value="2">Option #2</option>
                    <option value="3">Option #3</option>
                  </select>
                </div>
                <label class="col-md-2 col-form-label" for="disabled-input">Component</label>
                <div class="col-md-2">
                    <select id="select" name="select" class="form-control">
                    <option value="0">Please select</option>
                    <option value="1">Option #1</option>
                    <option value="2">Option #2</option>
                    <option value="3">Option #3</option>
                  </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div style="overflow:auto">
                                <table class="table table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th><input type="checkbox"></th>
                                            <th>SI No.</th>
                                            <th>Academic Year</th>
                                            <th>Program</th>
                                            <th>STY No</th>
                                            <th>Section</th>
                                            <th>Sub Section</th>
                                            <th>Extra Class</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-grup row">
                                <div class="col-sm-12">
                                    <button class="btn btn-success">All Posted Attendance</button>
                                </div>

                            </div>
                            <div class="form-grup row">
                                <div class="form-group row">
                                    <label class="col-sm-6 col-form-label" for="disabled-input">Attendance Date</label>
                                    <div class="col-sm-6">
                                        <input type="date" id="disabled-input" name="disabled-input" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label class="checkbox-inline" for="inline-checkbox1">
                                        <input type="checkbox" id="inline-checkbox1" name="inline-checkbox1" value="option1">Attendance With Lesson and Topic
                                      </label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-6 col-form-label" for="disabled-input">Lesson Code</label>
                                    <div class="col-sm-6">
                                        <select id="select" name="select" class="form-control">
                                        <option value="0">Please select</option>
                                        <option value="1">Option #1</option>
                                        <option value="2">Option #2</option>
                                        <option value="3">Option #3</option>
                                      </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-6 col-form-label" for="disabled-input">Topic Code</label>
                                    <div class="col-sm-6">
                                        <select id="select" name="select" class="form-control">
                                        <option value="0">Please select</option>
                                        <option value="1">Option #1</option>
                                        <option value="2">Option #2</option>
                                        <option value="3">Option #3</option>
                                      </select>
                                    </div>
                                </div>
                                <div class="form-grup row">
                                    <div class="col-sm-12">
                                        <button class="btn btn-info" disabled>Load Data</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label class="radio-inline" for="inline-radio1">
                                    <input type="radio" id="inline-radio1" name="inline-radios1" value="SelectTime"> Select Time
                                     </label>
                                </div>
                                <label class="col-sm-6 col-form-label" for="disabled-input">Class Time From</label>
                                <div class="col-sm-6">
                                    <input type="time" id="disabled-input" name="disabled-input" class="form-control" placeholder="">
                                </div>
                                <label class="col-sm-6 col-form-label" for="disabled-input">Class Time To</label>
                                <div class="col-sm-6">
                                    <input type="time" id="disabled-input" name="disabled-input" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label class="radio-inline" for="inline-radio1">
                                    <input type="radio" id="inline-radio1" name="inline-radios1" value="SelectTime"> Select Slot Code
                                     </label>
                                </div>
                                <label class="col-sm-6 col-form-label" for="disabled-input">Slot Code</label>
                                <div class="col-sm-6">
                                    <select id="select" name="select" class="form-control">
                                    <option value="0">Please select</option>
                                    <option value="1">Option #1</option>
                                    <option value="2">Option #2</option>
                                    <option value="3">Option #3</option>
                                  </select>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>