<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> <strong>Date Wise Attendance Entry</strong>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label " for="email-input">Semester Code<strong style="color:red">*</strong></label>
                <div class="col-sm-4">
                    <select class="form-control">
                     <option>SEM1</option>
                     <option>SEM2</option>
                        </select>
                </div>
                <label class="col-sm-2 col-form-label " for="email-input">Attendance Date<strong style="color:red">*</strong></label>
                <div class="col-sm-4">
                    <input type="date" id="email-input" name="email-input" class="form-control" placeholder="">
                </div>

            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <button class="btn btn-success">Show Selected Day Attendance</button>
                    <button class="btn btn-info">Show All Day Status</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> <strong>Date Wise Attendance Entry</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 row" style="margin-bottom:5px">
                    <div class="donediv"></div>&nbsp;&nbsp;&nbsp;<span>Attendance Done&nbsp;&nbsp;&nbsp;</span>
                    <div class="pendingdiv"></div>&nbsp;&nbsp;&nbsp;<span>Attendance Pending</span>
                </div>

                <div class="col-sm-12" style="overflow:auto">
                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Day</th>
                                <th>Time Slots</th>
                                <th>Subject Code</th>
                                <th>Program/STY</th>
                                <th>Section</th>
                                <th>LTP</th>
                                <th>Sub Section</th>
                                <th>Remarks</th>
                                <th>Total Class</th>
                                <th>Print</th>

                            </tr>
                        </thead>
                        <tbody>

                            <tr></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>