<div class="animated fadeIn">
    <div class="row">
        <!--/.col-->
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <strong>Student Information Updation</strong>
                    <small></small>
                </div>
                <div class="card-body">
                    <div class="row" style="width:1500px; height:500px; overflow: auto;">
                        <div class="col-sm-5">
                            <div class="card">
                                <div class="card-body">
                                    <div class="form-group row">
                                        <label class="col-md-5 col-form-label">Student Name: *</label>
                                        <div class="col-md-7">
                                            <p class="form-control-static"></p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 col-form-label">Rank:*</label>
                                        <div class="col-md-7">
                                            <p class="form-control-static"></p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 col-form-label">Academic Year:*</label>
                                        <div class="col-md-7">
                                            <p class="form-control-static"></p>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-5 col-form-label">Admission Year:*</label>
                                        <div class="col-md-7">
                                            <p class="form-control-static"></p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 col-form-label">Program:*</label>
                                        <div class="col-md-7">
                                            <p class="form-control-static"></p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 col-form-label">Branch:*</label>
                                        <div class="col-md-7">
                                            <p class="form-control-static"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="card">
                                <div class="card-body">
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">Registration No:</label>
                                        <div class="col-md-2">
                                            <p class="form-control-static"></p>
                                        </div>
                                        <label class="col-md-4 col-form-label">Active Status:</label>
                                        <div class="col-md-1">
                                            <p class="form-control-static"></p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">Remarks:</label>
                                        <div class="col-md-2">
                                            <p class="form-control-static"></p>
                                        </div>
                                        <label class="col-md-4 col-form-label">STY Number:*</label>
                                        <div class="col-md-1">
                                            <p class="form-control-static"></p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 col-form-label">Section Code:</label>
                                        <div class="col-md-7">
                                            <p class="form-control-static"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="card-body">
                                    <div class="form-group row">
                                        <button class="btn-primary">Upload Signature/Photo</button>
                                    </div>

                                    <div class="form-group row">
                                        <button class="btn-primary">Up</button>
                                        <button class="btn-primary"> Photo</button>
                                        <button class="btn-primary"> ok</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'personal')">[p]ersonal Details</button>
        <button class="tablinks" onclick="openCity(event, 'academic')">[A]cademic Qualification</button>
        <button class="tablinks" onclick="openCity(event, 'address')">[A]ddress Details</button>
        <button class="tablinks" onclick="openCity(event, 'contact')">[C]ontact Details</button>
        <button class="tablinks" onclick="openCity(event, 'guardian')">[G]uardian Details</button>
        <button class="tablinks" onclick="openCity(event, 'local')">[L]ocal Guardian Details</button>
    </div>

    <div id="personal" class="tabcontent">
        <div class="row" style="width:1500px; height:500px; overflow: auto;">
            <div class="col-sm-5">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">Date Of Birth:*</label>
                            <div class="col-md-7">
                                <input type="date" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">Gender:*</label>
                            <div class="col-md-7">
                                <input type="radio" name="gender" value="male" checked> Male<br>
                                <input type="radio" name="gender" value="female"> Female<br>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">Mother's Name:*</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">Father's Name:*</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">Nationality:*</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">Category:*</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">Blood Group:*</label>
                            <div class="col-md-7">
                                <p class="form-control-static"></p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label"> Willing To Donate Blood?: </label>
                            <div class="col-md-7">
                                <input type="radio" name="" value="male" checked> Yes<br>
                                <input type="radio" name="" value="female"> No<br>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">Residence Status: </label>
                            <div class="col-md-7">
                                <input type="radio" name="" value="male" checked> Yes<br>
                                <input type="radio" name="" value="female"> No<br>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">Software Package Known: </label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">

                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">Computer Lang.Known: </label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">Name in SSC Marksheet :*</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">Marital Status:*</label>
                            <div class="col-md-7">
                                <input type="radio" name="" value="male" checked> Single<br>
                                <input type="radio" name="" value="female"> marriage<br>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">Mother Tongue:*</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">Birth Place:*</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">Admitted Category:*</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">Admitted Sub-Category:*</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">Medium Of Study(Previous) :*</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">

                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label"> State Of Domicile </label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">

                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">Regligion: </label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">

                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">Student Quota: </label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">

                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">Adhar No: </label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-md-12 col-form-label">Games/Sports:</label>
                            <select name="cars" size="4" multiple>
                                    <option value="volvo">Football</option>
                                    <option value="saab">Volleyball</option>
                                    <option value="fiat">Cricket</option>
                                    <option value="audi">Hockey</option>
                                    <option value="audi">Chess</option>
                                    <option value="audi">Badminton</option>
                                  </select>

                            <label class="col-md-8 col-form-label">Hobbies:</label>
                            <select name="cars" size="4" multiple>
                                      <option value="volvo">Music</option>
                                      <option value="saab">Painting</option>
                                      <option value="fiat">Dance</option>
                                      <option value="audi">Reading</option>
                                      <option value="audi">Drama</option>
                                      <option value="audi">Traveling</option> 
                                      <option value="audi">Craft</option> 
                                    </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="academic" class="tabcontent">
        <div class="row" style="width:1500px; height:500px; overflow: auto;">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">Qualification: *</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">

                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">Name of School:*</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">Name Of Board/Univ :*</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">Name Of Exam Passed:*</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">Year Of Passing:*</label>
                            <div class="col-md-4">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                            <label class="col-md-2 col-form-label">State Name:*</label>
                            <div class="col-md-4">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">City:*</label>
                            <div class="col-md-4">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">

                            </div>
                            <label class="col-md-2 col-form-label">Country:*</label>
                            <div class="col-md-4">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">

                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">Division: *</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">Total Marks:</label>
                            <div class="col-md-4">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                            <label class="col-md-2 col-form-label">Obtained Marks:</label>
                            <div class="col-md-4">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">% Of Marks:</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">Grade:</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">CGPA:</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">PCM Percentil:</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">Overall Percentile:</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <button class="btn-primary ">Add</button>
                <button class="btn-danger">Cancel</button>
                <button class="btn-primary ">Ok</button>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-align-justify"></i>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th>uid</th>
                                        <th>Qualification</th>
                                        <th>Name Of Board</th>
                                        <th>Name Of School</th>
                                        <th>Name Of exam passed</th>
                                        <th>Year</th>
                                        <th>Division</th>
                                        <th>Max Marks</th>
                                        <th>Marks Obtained</th>
                                        <th>Percentage</th>
                                        <th>Grade</th>
                                        <th>State</th>
                                        <th>City</th>
                                        <th>Country</th>

                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <!--/.col-->
            </div>
        </div>

    </div>

    <div id="address" class="tabcontent">
        <div class="row" style="width:1500px; height:500px; overflow: auto;">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5>Address Of Parent /Guardian For Correpondance</h5>
                        <div class="form-group row">
                            <label class="col-md-4col-form-label">Address</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">Country:*</label>
                            <div class="col-md-4">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                            <label class="col-md-2 col-form-label">Post Office:*</label>
                            <div class="col-md-4">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">State:*</label>
                            <div class="col-md-4">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                            <label class="col-md-2 col-form-label">Police Stn:*</label>
                            <div class="col-md-4">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">City:*</label>
                            <div class="col-md-4">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                            <label class="col-md-2 col-form-label">Railway stn:*</label>
                            <div class="col-md-4">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">District:*</label>
                            <div class="col-md-4">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                            <label class="col-md-2 col-form-label">Pincode:*</label>
                            <div class="col-md-4">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h6>Same as present address </h6>
                        <h5> Permanent Address Of Parent /Guardian </h5>
                        <div class="form-group row">
                            <label class="col-md-4col-form-label">Address</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">Country:*</label>
                            <div class="col-md-4">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                            <label class="col-md-2 col-form-label">Post Office:*</label>
                            <div class="col-md-4">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">State:*</label>
                            <div class="col-md-4">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                            <label class="col-md-2 col-form-label">Police Stn:*</label>
                            <div class="col-md-4">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">City:*</label>
                            <div class="col-md-4">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                            <label class="col-md-2 col-form-label">Railway stn:*</label>
                            <div class="col-md-4">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">District:*</label>
                            <div class="col-md-4">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                            <label class="col-md-2 col-form-label">Pincode:*</label>
                            <div class="col-md-4">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="contact" class="tabcontent">
        <div class="row" style="width:1500px; height:500px; overflow: auto;">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h6>Student Details</h6>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">STD code: *</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">

                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">Telephone No:*</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">Cell No. :*</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">Email-Id:*</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h6>Parent Details</h6>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">STD code: *</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">

                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">Telephone No:*</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">Cell No. :*</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">Email-Id:*</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="guardian" class="tabcontent">
        <div class="row" style="width:1500px; height:500px; overflow: auto;">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">Guardian:*</label>
                            <div class="col-md-7">
                                <input type="radio" name="gender" value="male" checked> Father
                                <input type="radio" name="gender" value="female"> Mother
                                <input type="radio" name="gender" value="female">Other
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">Name of the Guardian:*</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">Relation With Applicant:*</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">Occupation:*</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">Designation:*</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">Educational Background:*</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">parents Annual Income:*</label>
                            <div class="col-md-7">
                                <input type="radio" name="gender" value="male" checked> Upto 2.5 Lakh
                                <input type="radio" name="gender" value="female"> 2.5 to 4.5 Lakh
                                <input type="radio" name="gender" value="female">4.5 to 6.5 Lakh
                                <input type="radio" name="gender" value="female">Above 6.5 Lakh
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">Organization Name: *</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">

                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">Address Of Organization:*</label>
                            <div class="col-md-7">
                                <input type="textarea" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">City :*</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">State*</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">Pin Code*</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">Contact Nos.(office)</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">Mobile</label>
                            <div class="col-md-7">
                                <input type="number" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="local" class="tabcontent">
        <div class="row" style="width:1500px; height:500px; overflow: auto;">
            <div class="col-sm-5">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">L.G.Name: *</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">L.G.Email:*</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">Gender:*</label>
                            <div class="col-md-7">
                                <input type="radio" name="gender" value="male" checked> Male
                                <input type="radio" name="gender" value="female"> Female
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">L.G.Address:*</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">City Name:*</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">district:*</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">L.G.Contact No.: *</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">

                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">L.G.Occupation:*</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">Relation:*</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">State Name:*</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-form-label">PIN Code:*</label>
                            <div class="col-md-7">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-2"> <button class="btn-primary">ok</button>
                <button class="btn-primary">Add</button>
                <button class="btn-danger">Cancel</button>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-align-justify"></i>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th>uid</th>
                                        <th>L.G.Name</th>
                                        <th>L.G.Address</th>
                                        <th>L.G.Address</th>
                                        <th>City Name</th>
                                        <th>District</th>
                                        <th>State name</th>
                                        <th>PIN</th>
                                        <th>Guardian Email</th>
                                        <th>LG Phone No.</th>
                                        <th>Guardian Occupation</th>
                                        <th>Gender</th>
                                        <th>Relation</th>
                                        <th>Deactive</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <!--/.col-->
            </div>
        </div>

    </div>
</div>