<div class="animated fadeIn">
    <div class="row">
        <!--/.col-->
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <strong>Student</strong>
                    <small>Class Timetable</small>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="company">Registration Code</label>
                            <input type="text" id="email-input" name="email-input" class="form-control detailsearch" placeholder=".." (dblclick)="largeModal.show()">

                            <!-- <input type="text" class="form-control" id="company" placeholder="Enter your Registration number"> -->
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-success"><i class="fa fa-eye"></i> Show</button>
                        <button class="btn btn-danger" type="button"><i class="fa fa-ban"></i> Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Time Table
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                            <tr>
                                <th>Sr.No.</th>
                                <th>Mon</th>
                                <th>Tue</th>
                                <th>Wed</th>
                                <th>Thu</th>
                                <th>Fri</th>
                                <th>Sat</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <!--/.col-->
    </div>

</div>
<!-- /.modal -->
<div bsModal #largeModal="bs-modal" class="col-md-12" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Select Registration Master</h4>
                <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                  </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <select class="form-control">
                                  <option>All</option>
                                  <option>SI No.</option>
                                  <option>Registration Code</option>
                                  <option>Registrationdesc</option>
                                  <option>Registrationdatefrom</option>
                                  <option>Registrationdateto</option>
                                                                            
                        </select>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="email-input" name="email-input" class="form-control" placeholder="">
                    </div>
                    <span class="col-md-4"><strong>0 Records of 0</strong></span>
                </div>
                <div class="row">
                    <br>
                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                            <tr>
                                <th>SI No</th>
                                <th>Registration Code</th>
                                <th>Registrationdesc </th>
                                <th>Registrationdatefrom </th>
                                <th>Registrationdateto </th>

                            </tr>
                        </thead>
                        <tbody>

                            <tr></tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="largeModal.hide()">Close</button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>