<div class="animated fadeIn">
    <div class="row">
        <!--/.col-->
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <strong>Student Marks View</strong>
                    <small></small>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label">Employee Name /Code</label>
                                            <div class="col-md-2">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="">
                                            </div>
                                            <label class="col-md-2 col-form-label">Department:</label>
                                            <div class="col-md-2">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="">
                                            </div>
                                            <label class="col-md-2 col-form-label">Designation:</label>
                                            <div class="col-md-2">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label">Reg. Code</label>
                                            <div class="col-md-2">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="">
                                            </div>

                                            <div class="col-md-2">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="">
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btn-primary">ok</button>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label" for="email-input">Sub -Event Code</label>
                                            <select class="col-md-2 form-control">
                        <option>-Select Event Code- </option>
                        <option>A</option>
                        <option>B</option>
                        <option>C</option>

                      </select>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label" for="email-input">Subject</label>
                                            <select class="col-md-2 form-control">
                        <option>-Select- </option>
                        <option>A</option>
                        <option>B</option>
                        <option>C</option>

                      </select>
                                            <button class="btn-primary">ok</button>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="card">
                                                    <div class="card-header" align="middle">
                                                        <i></i> Student List With Final Marks (Semester Wise)
                                                    </div>
                                                    <div class="card-body">
                                                        <table class="table table-bordered table-striped table-sm">
                                                            <thead>
                                                                <tr>
                                                                    <th>SI No</th>
                                                                    <th>Enrollment No.</th>
                                                                    <th>Student Name</th>
                                                                    <th>Program</th>
                                                                    <th>Semester</th>
                                                                    <th>Marks Obtained(Out of 100)</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.col-->
</div>