<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> <strong>Time Table Teacher Wise</strong>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label " for="email-input">Registration Code<strong style="color:red">*</strong></label>
                <div class="col-sm-4">

                    <input type="text" id="email-input" name="email-input" class="form-control detailsearch" placeholder="2422" (dblclick)="largeModal.show()">
                </div>

            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="email-input">Employee Code <strong style="color:red">*</strong></label>
                <div class="col-sm-4">
                    <input desabled type="text" id="email-input" name="email-input" class="form-control" placeholder="6731">
                </div>
                <label>Shanu Sharma</label>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <button class="btn btn-success">Show</button>
                    <button class="btn btn-danger">Close</button>
                    <!-- <button (click)="openPdf()">Open PDF</button> -->

                </div>

            </div>
        </div>
    </div>
</div>


<div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Select Registration Master</h4>
                <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <select class="form-control">
                                <option>All</option>
                                <option>SI No</option>
                                <option>Registration Code</option>
                                <option>Registration Desc</option>
                                <option>Registration Date From</option>
                                <option>Registration Date To</option>
                         </select>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="email-input" name="email-input" class="form-control" placeholder="">
                    </div>
                    <span class="col-md-4"><strong>0 Records of 0</strong></span>
                </div>
                <div class="row">
                    <div class="col-sm-12" style="overflow:auto">
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>SI No</th>
                                    <th>Employee Code</th>
                                    <th>Employee Name</th>
                                    <th>Registration Code</th>
                                    <th>Registration Desc</th>
                                    <th>Registration Date From</th>
                                    <th>Registration Date To</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr></tr>
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="largeModal.hide()">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->