<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> <strong>Staff File Upload</strong>

        </div>
        <div class="card-body">


            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="email-input">Topic<strong style="color:red">*</strong> </label>
                <div class="col-sm-6">
                    <input type="text" id="email-input" name="email-input" class="form-control" placeholder="">
                </div>

            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="email-input">Remarks</label>
                <div class="col-sm-6">
                    <input type="text" id="email-input" name="email-input" class="form-control" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <div style="margin-left:50%">
                    <button class="btn btn-sm btn-success" (click)="FileModal.show()"><i class="fa fa-paperclip"></i> Attach File(s)</button>
                </div>

            </div>

        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <span style="margin-left:30%;color:rgb(92, 90, 228)">Please Select User To Grant Access Of Attached Document(Optional)</span>
    </div>
    <div class="card-body">
        <div class="form-group row">

            <label class="col-sm-2 col-form-label" for="email-input">User<strong style="color:red">*</strong></label>
            <div class="col-sm-4">
                <input type="text" id="email-input" name="email-input" (dblclick)="largeModal.show()" class="form-control detailsearch" placeholder="">
            </div>

            <div class="col-sm-6">
                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Validate</button>
                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
                <button class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Delete</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" style="overflow:auto">

                <table class="table table-bordered table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Action</th>
                            <th>SI. NO.</th>
                            <th>Employee Name</th>
                            <th>Designation</th>
                            <th>Department</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr></tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
    </div>
</div>
<div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Select Staff</h4>
                <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <select class="form-control">
                                <option>All</option>
                                <option>SI No</option>
                                <option>Employee Code</option>
                                <option>Employee Name</option>

                         </select>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="email-input" name="email-input" class="form-control" placeholder="">
                    </div>
                    <span class="col-md-4"><strong>0 Records of 0</strong></span>
                </div>
                <div class="row">
                    <div class="col-sm-10" style="overflow:auto">
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>SI No</th>
                                    <th>Employee Code</th>
                                    <th>Employee Name</th>

                                </tr>
                            </thead>
                            <tbody>

                                <tr></tr>
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="largeModal.hide()">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div bsModal #FileModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Select Staff</h4>
                <button type="button" class="close" (click)="FileModal.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="file-input">Attachment</label>
                            <div class="col-md-9">
                                <input type="file" id="file-input" multiple name="file-input">
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="FileModal.hide()">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->