<div class="animated fadeIn">
    <div class="row">
        <!--/.col-->
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <strong>Subject Marks Entry Permission</strong>
                    <small></small>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label">Registration No.*:</label>
                                            <div class="col-md-4">
                                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                                            </div>
                                            <label class="col-md-2 col-form-label" for="email-input">Exam Event</label>
                                            <select class="col-md-2 form-control">
                                              <option>-Select- </option>
                                              <option>A</option>
                                              <option>B</option>
                                              <option>C</option>

                                            </select>
                                            <button class="btn-primary">ok</button>
                                            <button class="btn-danger">Cancel</button>
                                        </div>
                                        <div disabled class="row">
                                            <div class="card col-sm-6">
                                                <div class="card-body">
                                                    <div class="form-group row">
                                                        <label class="col-md-4 col-form-label" for="email-input">Entry Level</label>
                                                        <select disabled class="col-md-6 form-control">
                                                              <option>-Select- </option>
                                                              <option>A</option>
                                                              <option>B</option>
                                                              <option>C</option>
                
                                                            </select>

                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-4 col-form-label">Subject Code</label>
                                                        <div class="col-md-6">
                                                            <input disabled type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-4 col-form-label">Employee Code</label>
                                                        <div class="col-md-6">
                                                            <input disabled type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-4 col-form-label">Entry Date</label>
                                                        <div class="col-md-6">
                                                            <input disabled type="date" id="text-input" name="text-input" class="form-control" placeholder="">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-4 col-form-label">Entry By</label>
                                                        <div class="col-md-6">
                                                            <input disabled type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                                                        </div>
                                                    </div>
                                                    <label class="col-md-6"><strong><u>       </u></strong>&nbsp;  <input type="checkbox">Active</label>
                                                </div>
                                            </div>
                                            <div class="card col-sm-6">
                                                <div class="card-body">
                                                    <div class="form-group row">
                                                        <table class="table table-bordered table-striped table-sm">
                                                            <thead>
                                                                <tr>
                                                                    <th>SL.No</th>
                                                                    <th></th>
                                                                    <th>Bundle Code </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                            </tbody>
                                                        </table>

                                                    </div>


                                                </div>
                                            </div>

                                            <!--/.col-->
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="card">
                                                    <div class="card-header">

                                                    </div>
                                                    <div class="card-body">
                                                        <div class="form-group row">
                                                            <label class="col-md-2 col-form-label">Search:</label>
                                                            <div class="col-md-4">
                                                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="search">
                                                            </div>
                                                            <label class="col-md-3 col-form-label"></label>
                                                            <button class="btn-primary">ok</button>
                                                            <button class="btn-primary">Refresh</button>
                                                            <button class="btn-danger">Cancel</button>
                                                            <button class="btn-primary">stop</button>
                                                        </div>

                                                        <table class="table table-bordered table-striped table-sm">
                                                            <thead>
                                                                <tr>
                                                                    <th>SL.No</th>
                                                                    <th>Subject Code</th>
                                                                    <th>Staff Name </th>
                                                                    <th>Bundle Code</th>
                                                                    <th>Level 1</th>
                                                                    <th>Level 2</th>
                                                                    <th>Entry By </th>
                                                                    <th>Deactive</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/.col-->
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--/.col-->
</div>