<div class="animated fadeIn">
    <div class="row">
        <!--/.col-->
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <strong> Student's Feedback Send History </strong>
                    <small></small>

                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

                                        <div class="form-group row">

                                            <div class="col-md-3">
                                                <input type="radio" id="radio1" name="radios" value="option1">Feedback Event Wise
                                            </div>
                                            <div class="col-md-4">
                                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="feedback">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-3">
                                                <input type="radio" id="radio1" name="radios" value="option1">Student Wise
                                            </div>
                                            <label class="col-md-2 col-form-label"> Registration No.</label>
                                            <div class="col-md-3">
                                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                                            </div>
                                            <label class="col-md-1 col-form-label"> Name</label>
                                            <div class="col-md-3">
                                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-md-3">
                                                <input type="radio" id="radio1" name="radios" value="option1">Duration Wise
                                            </div>
                                            <label class="col-md-2 col-form-label"> From</label>
                                            <div class="col-md-3">
                                                <input type="date" id="text-input" name="text-input" class="form-control" placeholder="">
                                            </div>
                                            <label class="col-md-1 col-form-label"> To</label>
                                            <div class="col-md-3">
                                                <input type="date" id="text-input" name="text-input" class="form-control" placeholder="">
                                            </div>
                                        </div>

                                        <button type="button" style="margin-left:400px;" class="btn  btn-primary btn-lg">SAVE</button>

                                    </form>

                                </div>

                            </div>
                            <div class="card-body">
                                <table class="table table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th>Sr.No.</th>
                                            <th>Student Name(Regist. No.)</th>
                                            <th>Event Code</th>
                                            <th>Feedback Send Date and Time</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Samppa Nori</td>
                                            <td>2012/01/01</td>
                                            <td>Member</td>
                                            <td>
                                                <span class="badge badge-success">Active</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Estavan Lykos</td>
                                            <td>2012/02/01</td>
                                            <td>Staff</td>
                                            <td>
                                                <span class="badge badge-danger">Banned</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Chetan Mohamed</td>
                                            <td>2012/02/01</td>
                                            <td>Admin</td>
                                            <td>
                                                <span class="badge badge-secondary">Inactive</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Derick Maximinus</td>
                                            <td>2012/03/01</td>
                                            <td>Member</td>
                                            <td>
                                                <span class="badge badge-warning">Pending</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Friderik Dávid</td>
                                            <td>2012/01/21</td>
                                            <td>Staff</td>
                                            <td>
                                                <span class="badge badge-success">Active</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                                    <li class="page-item active">
                                        <a class="page-link" href="#">1</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--/.col-->
</div>