<div class="animated fadeIn">
    <div class="row">
        <!--/.col-->
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <strong>My Examination Schedule</strong>
                    <small></small>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label">  Enrollment No.*:</label>
                                            <div class="col-md-4">
                                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Name">
                                            </div>
                                            <label class="col-md-2 col-form-label"> Name *:</label>
                                            <div class="col-md-4">
                                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="branch">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label">Semester Code :*</label>
                                            <div class="col-md-6">
                                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Select SRC For">
                                            </div>
                                            <div class="col-md-2">
                                                <button> Submit</button>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <i class="fa fa-align-justify"></i>Exam-Schedule
                                                    </div>
                                                    <div class="card-body">
                                                        <table class="table table-bordered table-striped table-sm">
                                                            <thead>
                                                                <tr>
                                                                    <th>SL.No</th>
                                                                    <th>Subject Code</th>
                                                                    <th>Subject Code Desc </th>
                                                                    <th>Event Code</th>
                                                                    <th>Total Marks</th>
                                                                    <th>Passing Marks</th>
                                                                    <th>Marks Obtained</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/.col-->
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--/.col-->
</div>