.capbox {
    background-color: #1b8eb7;
    border: #1b8eb7 0px solid;
    border-width: 0px 12px 0px 0px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    /* FOR IE7-8 */
    padding: 8px 40px 8px 8px;
}

.capbox-inner {
    font: bold 11px arial, sans-serif;
    color: #000000;
    background-color: #DBF3BA;
    margin: 5px auto 0px auto;
    padding: 3px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#CaptchaDiv {
    font: bold 17px verdana, arial, sans-serif;
    font-style: italic;
    color: #000000;
    background-color: #FFFFFF;
    padding: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#CaptchaInput {
    margin: 1px 0px 1px 0px;
    width: 135px;
}