<div class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card-group">
                    <div class="card p-4">
                        <div class="card-body">
                            <h1>Change Password</h1>
                            <div class="input-group mb-4">
                                <span class="input-group-addon"><i class="icon-lock"></i></span>
                                <input type="password" class="form-control" placeholder="Password">
                            </div>
                            <div class="input-group mb-4">
                                <span class="input-group-addon"><i class="icon-lock"></i></span>
                                <input type="password" class="form-control" placeholder="New Password">
                            </div>
                            <div class="capbox">

                                <div id="CaptchaDiv">
                                    <input type="text" value="4654646">
                                </div>
                                <div class="capbox-inner">
                                    Type the above number:<br>
                                    <input type="text" name="CaptchaInput" id="CaptchaInput" size="15" value="dsd52ssd"><br>
                                </div>
                                <br>
                            </div>

                            <div class="row">

                                <div class="col-6">
                                    <button type="button" class="btn btn-primary px-4" (click)="checkform(this)" routerLink="/pages/login">Save</button>
                                </div>
                                <div class="col-6 text-right">
                                    <button type="button" class="btn btn-primary px-4" routerLink="/pages/login">Cancel</button>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>