<div class="animated fadeIn">
    <div class="row">
        <!--/.col-->
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <strong>Student Personal Form</strong>
                    <small></small>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="card">
                                <div class="card-body">
                                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label">Student Name</label>
                                            <div class="col-md-4">
                                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Text">
                                            </div>
                                            <label class="col-md-2 col-form-label" for="text-input">Gender</label>
                                            <div class="col-md-4">
                                                <input type="radio" id="radio1" name="radios" value="option1"> Option 1
                                            </div>

                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label">Registration Number</label>
                                            <div class="col-md-4">
                                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                                            </div>
                                            <label class="col-md-2 col-form-label" for="text-input">Room Number</label>
                                            <div class="col-md-4">
                                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label" for="disabled-input">Program/Branch</label>
                                            <div class="col-md-9">
                                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">

                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label">Semester</label>
                                            <div class="col-md-3">
                                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                                            </div>
                                            <label class="col-md-2 col-form-label" for="text-input">Date Of Birth</label>
                                            <div class="col-md-2">
                                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                                            </div>
                                            <label class="col-md-2 col-form-label" for="text-input">Blood Group</label>
                                            <div class="col-md-1">
                                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label">Nationality</label>
                                            <div class="col-md-3">
                                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                                            </div>
                                            <label class="col-md-2 col-form-label" for="text-input">Marital Status</label>
                                            <div class="col-md-2">
                                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                                            </div>
                                            <label class="col-md-2 col-form-label" for="text-input">Category</label>
                                            <div class="col-md-1">
                                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label">Bank Name</label>
                                            <div class="col-md-4">
                                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                                            </div>
                                            <label class="col-md-2 col-form-label" for="text-input">Bank A/C No</label>
                                            <div class="col-md-4">
                                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label">Father's Name</label>
                                            <div class="col-md-4">
                                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                                            </div>
                                            <label class="col-md-2 col-form-label" for="text-input">Designation</label>
                                            <div class="col-md-4">
                                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label" for="disabled-input">Mother's Name</label>
                                            <div class="col-md-9">
                                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card">
                                <img src="assets/img/avatars/6.jpg" alt="Paris" width="300" height="300">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="well">
                                    <div class="form-group row">
                                        <label class="col-md-6 col-form-label" for="disabled-input">Student Contact Address</label>
                                        <label class="col-md-6 col-form-label" for="disabled-input">Parent/Guardian Contact Detail</label>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2 col-form-label">Cell/Mobile</label>
                                        <div class="col-md-4">
                                            <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                                        </div>
                                        <label class="col-md-2 col-form-label" for="text-input">Cell/Mobile</label>
                                        <div class="col-md-4">
                                            <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2 col-form-label">Telephone</label>
                                        <div class="col-md-4">
                                            <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                                        </div>
                                        <label class="col-md-2 col-form-label" for="text-input">Telephone</label>
                                        <div class="col-md-4">
                                            <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2 col-form-label">E-mail</label>
                                        <div class="col-md-4">
                                            <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                                        </div>
                                        <label class="col-md-2 col-form-label" for="text-input">E-mail</label>
                                        <div class="col-md-4">
                                            <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                                        </div>
                                    </div>

                                </div>

                                <div class="well">
                                    <div class="form-group row">
                                        <label class="col-md-6 col-form-label" for="disabled-input"> Correspondence Address </label>
                                        <label class="col-md-6 col-form-label" for="disabled-input">Permanent Address</label>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2 col-form-label">Address</label>
                                        <div class="col-md-4">
                                            <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                                            <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                                            <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                                        </div>
                                        <label class="col-md-2 col-form-label">Address</label>
                                        <div class="col-md-4">
                                            <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                                            <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                                            <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                                        </div>

                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2 col-form-label">District</label>
                                        <div class="col-md-4">
                                            <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                                        </div>
                                        <label class="col-md-2 col-form-label" for="text-input">District</label>
                                        <div class="col-md-4">
                                            <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2 col-form-label">City/PIN</label>
                                        <div class="col-md-4">
                                            <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                                        </div>
                                        <label class="col-md-2 col-form-label">City/PIN</label>
                                        <div class="col-md-4">
                                            <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2 col-form-label">State</label>
                                        <div class="col-md-4">
                                            <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                                        </div>
                                        <label class="col-md-2 col-form-label">State</label>
                                        <div class="col-md-4">
                                            <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <i class="fa fa-align-justify"></i>
                                                </div>
                                                <div class="card-body">
                                                    <table class="table table-bordered table-striped table-sm">
                                                        <thead>
                                                            <tr>
                                                                <th>Qualification</th>
                                                                <th>Board/School </th>
                                                                <th>Year</th>
                                                                <th>Division</th>
                                                                <th>Full Marks</th>
                                                                <th>Obtained Marks</th>
                                                                <th>Percentage Marks</th>
                                                                <th>Grade</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                        <!--/.col-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--/.col-->
</div>