<div class="animated fadeIn">
    <div class="row">
        <!--/.col-->
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <strong>Disciplinary Action Details</strong>
                    <small>Taken by registrar office if any</small>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="company">Student Name</label>
                            <p>ABC XYZ</p>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="company">Registration Number</label>
                            <p>11MCHC14</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Disciplinary Action Details
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                            <tr>
                                <th>Misconduct Date</th>
                                <th>Misconduct</th>
                                <th>Action date</th>
                                <th>Action Initiated</th>
                                <th>Action Taken</th>

                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <!--/.col-->
    </div>

</div>