/* .capbox {
    background-color: #f49842;
    border: #f49842 0px solid;
    border-width: 0px 12px 0px 0px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    /* FOR IE7-8 
    padding: 8px 40px 8px 8px;
}

.capbox-inner {
    font: bold 11px arial, sans-serif;
    color: #000000;
    background-color: #DBF3BA;
    margin: 5px auto 0px auto;
    padding: 3px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#CaptchaDiv {
    font: bold 17px verdana, arial, sans-serif;
    font-style: italic;
    color: #000000;
    background-color: #FFFFFF;
    padding: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#CaptchaInput {
    margin: 1px 0px 1px 0px;
    width: 135px;
} */


/* .app {
    background-color: #e5b8ae;
} */

#cardstart {
    box-shadow: 10px 10px 5px 10px #888888;
}

#logindiv {
    background-color: #e5b8ae;
    border: #e5b8ae 0px solid;
    border-width: 0px 12px 0px 0px;
}


/* 
.card {
    background-color: white;
    color: black;
    border: white 0px solid;
    border-width: 0px 12px 0px 0px;
} */

#register {
    background-color: white !important;
    color: black !important;
    border: white 1px solid;
}

#loginbtn {
    background-color: #aa2d11;
    /*#c66a55*/
    border: #aa2d11 1px solid;
}

#registerbtn {
    background-color: #aa2d11;
    border: #aa2d11 1px solid;
}

#forgetbtn {
    color: #aa2d11;
}


/* 
.navbar-brand #logo1 {
    display: block;
}

.navbar-brand #logo0 #logo2 #logo3 {
    display: none;
} */