#cardstart {
    /* box-shadow: 10px 10px 5px 10px #888888; */
    background-color: white;
}

#logindiv {
    background-color: white;
    border: white 0px solid;
    border-width: 0px 12px 0px 0px;
}

#register {
    background-color: #1b8eb7 !important;
    color: black !important;
    border: #1b8eb7 1px solid;
}

#loginbtn {
    background-color: #1b8eb7;
    /*#c66a55*/
    border: #1b8eb7 1px solid;
}

#registerbtn {
    background-color: #1b8eb7;
    border: #0066CC 1px solid;
}

#forgetbtn {
    color: #1b8eb7;
}