<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> <strong>Employee Contact information</strong>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="email-input">Peramnent Cell/Mobile</label>
                <div class="col-sm-4">
                    <span>:</span>
                    <span>3232</span>
                    <!-- <input type="text" id="email-input" name="email-input" class="form-control" placeholder="6731"> -->
                </div>
                <label class="col-sm-2 col-form-label" for="email-input">Peramnent Cell/Mobile </label>
                <div class="col-sm-4">
                    <input type="text" id="email-input" name="email-input" class="form-control" placeholder="3232">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="email-input">Correspondance Cell/Mobile</label>
                <div class="col-sm-4">
                    <span>:</span>
                    <span>987654321</span>
                    <!-- <input type="text" id="email-input" name="email-input" class="form-control" placeholder="EXAMINATION SECTION"> -->
                </div>
                <label class="col-sm-2 col-form-label" for="email-input">Correspondance Cell/Mobile </label>
                <div class="col-sm-4">
                    <input type="text" id="email-input" name="email-input" class="form-control" placeholder="987654321">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="email-input">Peramnent Phone</label>
                <div class="col-sm-4">
                    <span>:</span>
                    <span>3232</span>
                    <!-- <input type="text" id="email-input" name="email-input" class="form-control" placeholder="6731"> -->
                </div>
                <label class="col-sm-2 col-form-label" for="email-input">Peramnent Phone </label>
                <div class="col-sm-4">
                    <input type="text" id="email-input" name="email-input" class="form-control" placeholder="3232">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="email-input">Correspondance Phone</label>
                <div class="col-sm-4">
                    <span>:</span>
                    <span>987654321</span>
                    <!-- <input type="text" id="email-input" name="email-input" class="form-control" placeholder="EXAMINATION SECTION"> -->
                </div>
                <label class="col-sm-2 col-form-label" for="email-input">Correspondance Phone </label>
                <div class="col-sm-4">
                    <input type="text" id="email-input" name="email-input" class="form-control" placeholder="987654321">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="email-input">Email</label>
                <div class="col-sm-4">
                    <span>:</span>
                    <span>sharma@nirmauni.ac.in</span>
                    <!-- <input type="text" id="email-input" name="email-input" class="form-control" placeholder="EXAMINATION SECTION"> -->
                </div>
                <label class="col-sm-2 col-form-label" for="email-input">Email </label>
                <div class="col-sm-4">
                    <input type="email" id="email-input" name="email-input" class="form-control" placeholder="sharma@nirmauni.ac.in">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="email-input">Date of Birth</label>
                <div class="col-sm-4">
                    <span>:</span>
                    <span>02/11/1992</span>
                    <!-- <input type="date" id="email-input" name="email-input" class="form-control" placeholder="..."> -->
                </div>
                <label class="col-sm-2 col-form-label" for="email-input"> Date of Birth </label>
                <div class="col-sm-4">
                    <input type="date" id="email-input" name="email-input" class="form-control" value="1992-11-02">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="email-input">Date of Joining</label>
                <div class="col-sm-4">
                    <span>:</span>
                    <span>02/11/2012</span>
                    <!-- <input type="date" id="email-input" name="email-input" class="form-control" placeholder="..."> -->
                </div>
                <label class="col-sm-2 col-form-label" for="email-input"> Date of Joining </label>
                <div class="col-sm-4">
                    <input type="date" id="email-input" name="email-input" class="form-control" value="2012-11-02">
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> <strong>Correspondance Address</strong>
                </div>
                <div class="card-body">
                    <!-- <div class="row">
                        <div class="col-sm-12">
                            <label><strong><u>Correspondance Address</u></strong></label>
                        </div>
                    </div> -->
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="email-input">Address 1</label>
                        <div class="col-md-4">
                            <span>:</span>
                            <span>Kerala</span>
                            <!-- <input type="text" id="email-input" name="email-input" class="form-control" placeholder=".."> -->
                            <!-- <span class="help-block">Please enter your email</span> -->
                        </div>
                        <label class="col-md-2 col-form-label" for="email-input">Address 1</label>
                        <div class="col-md-4">
                            <input type="text" id="email-input" name="email-input" class="form-control" placeholder="Kerala">
                            <!-- <span class="help-block">Please enter your email</span> -->
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="email-input">Address 2</label>
                        <div class="col-md-4">
                            <span>:</span>
                            <span>Kerala</span>
                            <!-- <input type="text" id="email-input" name="email-input" class="form-control" placeholder=".."> -->
                            <!-- <span class="help-block">Please enter your email</span> -->
                        </div>
                        <label class="col-md-2 col-form-label" for="email-input">Address 2</label>
                        <div class="col-md-4">
                            <input type="text" id="email-input" name="email-input" class="form-control" placeholder="Kerala">
                            <!-- <span class="help-block">Please enter your email</span> -->
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="email-input">Address 3</label>
                        <div class="col-md-4">
                            <span>:</span>
                            <span>Kerala</span>
                            <!-- <input type="text" id="email-input" name="email-input" class="form-control" placeholder=".."> -->
                            <!-- <span class="help-block">Please enter your email</span> -->
                        </div>
                        <label class="col-md-2 col-form-label" for="email-input">Address 3</label>
                        <div class="col-md-4">
                            <input type="text" id="email-input" name="email-input" class="form-control" placeholder="Kerala">
                            <!-- <span class="help-block">Please enter your email</span> -->
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="email-input">District</label>
                        <div class="col-md-4">
                            <span>:</span>
                            <span></span>
                            <!-- <input type="text" id="email-input" name="email-input" class="form-control" placeholder=".."> -->
                            <!-- <span class="help-block">Please enter your email</span> -->
                        </div>
                        <label class="col-md-2 col-form-label" for="email-input">District</label>
                        <div class="col-md-4">
                            <input type="text" id="email-input" name="email-input" class="form-control" placeholder="">
                            <!-- <span class="help-block">Please enter your email</span> -->
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="email-input">City</label>
                        <div class="col-md-4">
                            <span>:</span>
                            <span></span>
                            <!-- <input type="text" id="email-input" name="email-input" class="form-control" placeholder=".."> -->
                            <!-- <span class="help-block">Please enter your email</span> -->
                        </div>
                        <label class="col-md-2 col-form-label" for="email-input">City</label>
                        <div class="col-md-4">
                            <input type="text" id="email-input" name="email-input" class="form-control" placeholder="">
                            <!-- <span class="help-block">Please enter your email</span> -->
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="email-input">PIN</label>
                        <div class="col-md-4">
                            <span>:</span>
                            <span></span>
                            <!-- <input type="text" id="email-input" name="email-input" class="form-control" placeholder=".."> -->
                            <!-- <span class="help-block">Please enter your email</span> -->
                        </div>
                        <label class="col-md-2 col-form-label" for="email-input">PIN</label>
                        <div class="col-md-4">
                            <input type="text" id="email-input" name="email-input" class="form-control" placeholder="">
                            <!-- <span class="help-block">Please enter your email</span> -->
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="email-input">State</label>
                        <div class="col-md-4">
                            <span>:</span>
                            <span></span>
                            <!-- <input type="text" id="email-input" name="email-input" class="form-control" placeholder=".."> -->
                            <!-- <span class="help-block">Please enter your email</span> -->
                        </div>
                        <label class="col-md-2 col-form-label" for="email-input">State</label>
                        <div class="col-md-4">
                            <input type="text" id="email-input" name="email-input" class="form-control" placeholder="">
                            <!-- <span class="help-block">Please enter your email</span> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> <strong>Permanent Address</strong>
                </div>
                <div class="card-body">
                    <!-- <div class="row">
                <div class="col-sm-12">
                    <label><strong><u>Permanent Address</u></strong></label>
                </div>
            </div> -->
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="email-input">Address 1</label>
                        <div class="col-md-4">
                            <span>:</span>
                            <span>Kerala</span>
                            <!-- <input type="text" id="email-input" name="email-input" class="form-control" placeholder=".."> -->
                            <!-- <span class="help-block">Please enter your email</span> -->
                        </div>
                        <label class="col-md-2 col-form-label" for="email-input">Address 1</label>
                        <div class="col-md-4">
                            <input type="text" id="email-input" name="email-input" class="form-control" placeholder="Kerala">
                            <!-- <span class="help-block">Please enter your email</span> -->
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="email-input">Address 2</label>
                        <div class="col-md-4">
                            <span>:</span>
                            <span>Kerala</span>
                            <!-- <input type="text" id="email-input" name="email-input" class="form-control" placeholder=".."> -->
                            <!-- <span class="help-block">Please enter your email</span> -->
                        </div>
                        <label class="col-md-2 col-form-label" for="email-input">Address 2</label>
                        <div class="col-md-4">
                            <input type="text" id="email-input" name="email-input" class="form-control" placeholder="Kerala">
                            <!-- <span class="help-block">Please enter your email</span> -->
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="email-input">Address 3</label>
                        <div class="col-md-4">
                            <span>:</span>
                            <span>Kerala</span>
                            <!-- <input type="text" id="email-input" name="email-input" class="form-control" placeholder=".."> -->
                            <!-- <span class="help-block">Please enter your email</span> -->
                        </div>
                        <label class="col-md-2 col-form-label" for="email-input">Address 3</label>
                        <div class="col-md-4">
                            <input type="text" id="email-input" name="email-input" class="form-control" placeholder="Kerala">
                            <!-- <span class="help-block">Please enter your email</span> -->
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="email-input">District</label>
                        <div class="col-md-4">
                            <span>:</span>
                            <span></span>
                            <!-- <input type="text" id="email-input" name="email-input" class="form-control" placeholder=".."> -->
                            <!-- <span class="help-block">Please enter your email</span> -->
                        </div>
                        <label class="col-md-2 col-form-label" for="email-input">District</label>
                        <div class="col-md-4">
                            <input type="text" id="email-input" name="email-input" class="form-control" placeholder="">
                            <!-- <span class="help-block">Please enter your email</span> -->
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="email-input">City</label>
                        <div class="col-md-4">
                            <span>:</span>
                            <span></span>
                            <!-- <input type="text" id="email-input" name="email-input" class="form-control" placeholder=".."> -->
                            <!-- <span class="help-block">Please enter your email</span> -->
                        </div>
                        <label class="col-md-2 col-form-label" for="email-input">City</label>
                        <div class="col-md-4">
                            <input type="text" id="email-input" name="email-input" class="form-control" placeholder="">
                            <!-- <span class="help-block">Please enter your email</span> -->
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="email-input">PIN</label>
                        <div class="col-md-4">
                            <span>:</span>
                            <span></span>
                            <!-- <input type="text" id="email-input" name="email-input" class="form-control" placeholder=".."> -->
                            <!-- <span class="help-block">Please enter your email</span> -->
                        </div>
                        <label class="col-md-2 col-form-label" for="email-input">PIN</label>
                        <div class="col-md-4">
                            <input type="text" id="email-input" name="email-input" class="form-control" placeholder="">
                            <!-- <span class="help-block">Please enter your email</span> -->
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="email-input">State</label>
                        <div class="col-md-4">
                            <span>:</span>
                            <span></span>
                            <!-- <input type="text" id="email-input" name="email-input" class="form-control" placeholder=".."> -->
                            <!-- <span class="help-block">Please enter your email</span> -->
                        </div>
                        <label class="col-md-2 col-form-label" for="email-input">State</label>
                        <div class="col-md-4">
                            <input type="text" id="email-input" name="email-input" class="form-control" placeholder="">
                            <!-- <span class="help-block">Please enter your email</span> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <button type="submit" style="float:right" class="btn btn-lg btn-primary"> Save</button>
                </div>
            </div>
        </div>
    </div>
</div>