<div class="animated fadeIn">
    <div class="row">
        <!--/.col-->
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <strong> Student's Feedback View By Advisor</strong>
                    <small></small>

                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label"> Feedback Event Code</label>
                                            <div class="col-md-4">
                                                <select id="select" name="select" class="form-control">
                                                  <option value="0">Please select</option>
                                                  <option value="1">Option #1</option>
                                                  <option value="2">Option #2</option>
                                                  <option value="3">Option #3</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label"> Advisor Name</label>
                                            <div class="col-md-6">
                                                <input type="text" id="text" name="text" placeholder="Shanu Sharma">
                                            </div>
                                        </div>

                                        <button type="button" style="margin-left:400px;" class="btn btn-lg btn-primary ">SAVE</button>
                                    </form>

                                </div>

                            </div>
                            <div class="card-body">
                                <table class="table table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th>Sr.No.</th>
                                            <th>Questions</th>
                                            <th>Maximum Rateing</th>
                                            <th>Given Rating</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <span class="badge badge-success">Active</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <span class="badge badge-danger">Banned</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td> </td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <span class="badge badge-secondary">Inactive</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <span class="badge badge-warning">Pending</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td> </td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <span class="badge badge-success">Active</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td> </td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <span class="badge badge-success">Active</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td> </td>
                                            <td></td>
                                            <td>
                                                <div class="form-group row">
                                                    <label class="col-md-4 "> Rating Percen:</label>
                                                    <div class="col-md-3">
                                                        <input type="text" id="text-input" name="text-input" placeholder="">
                                                    </div>
                                                </div>


                                            </td>
                                            <td>
                                                <div class="form-group row">
                                                    <label class="col-md-4 "> Overall Rating:</label>
                                                    <div class="col-md-3">
                                                        <input type="text" id="text-input" name="text-input" placeholder="">
                                                    </div>
                                                </div>


                                            </td>
                                        </tr>

                                    </tbody>
                                </table>

                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                                    <li class="page-item active">
                                        <a class="page-link" href="#">1</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--/.col-->
</div>