<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> <strong>Debit Credit Advice</strong>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="email-input">Employee Code</label>
                <div class="col-sm-4">
                    <input type="text" id="email-input" name="email-input" class="form-control" placeholder="6731">
                </div>
                <label class="col-sm-2 col-form-label" for="email-input">Employee Name </label>
                <div class="col-sm-4">
                    <input type="text" id="email-input" name="email-input" class="form-control" placeholder="Shanu Sharma">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="email-input">Department</label>
                <div class="col-sm-4">
                    <input type="text" id="email-input" name="email-input" class="form-control" placeholder="EXAMINATION SECTION">
                </div>
                <label class="col-sm-2 col-form-label" for="email-input">Designation </label>
                <div class="col-sm-4">
                    <input type="text" id="email-input" name="email-input" class="form-control" placeholder="J100">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="email-input"> From Date</label>
                <div class="col-sm-4">
                    <input type="date" id="email-input" name="email-input" class="form-control" placeholder="...">
                </div>
                <label class="col-sm-2 col-form-label" for="email-input">To Date </label>
                <div class="col-sm-4">
                    <input type="date" id="email-input" name="email-input" class="form-control" placeholder="...">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6" style="margin-left:40%">
                    <button type="submit" class="btn  btn-primary"><i class="fa fa-eye"></i> Show</button>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> <strong>Debit Credit Advice</strong>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <div class="controls col-sm-8">
                    <div class="input-group">
                        <input id="appendedInputButtons" class="form-control" type="text">
                        <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Search</button>
    
                </span>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-12" style="overflow:auto">

                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                            <tr>
                                <th>SI. NO.</th>
                                <th>Advice Date</th>
                                <th>Advice Type CR/DR</th>
                                <th>Amount</th>
                                <th>Voucher No/Voucher Date</th>
                                <th>From/Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr></tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>