<div class="animated fadeIn">
    <div class="row">
        <!--/.col-->
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <strong>Student's Result</strong>
                    <small></small>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label">  Roll/Exam No.*:</label>
                                            <div class="col-md-4">
                                                <label class="col-md-8 col-form-label">1234</label> </div>
                                            <label class="col-md-2 col-form-label">Student Name *:</label>
                                            <div class="col-md-4">
                                                <label class="col-md-8 col-form-label"> Aditi</label> </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label">STY Number :*</label>
                                            <div class="col-md-6">
                                                <label class="col-md-8 col-form-label">123456</label> </div>
                                            <div class="col-md-2">
                                                <button class="btn btn-danger"> Close</button>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <table class="table table-bordered table-striped table-sm">
                                                            <thead>
                                                                <tr>
                                                                    <th>STY Number</th>
                                                                    <th>TOTAL COURSE CREDITS</th>
                                                                    <th>CREDITS EARNED</th>
                                                                    <th>PROGRESSIVE CREDITS EARNED </th>
                                                                    <th>GRADE POINTS EARNED</th>
                                                                    <th>PROGRESSIVE GRADE POINTS EARNED</th>
                                                                    <th>SPI</th>
                                                                    <th>PPI/CPI</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/.col-->
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label">Total Course Credits :*</label>
                                            <div class="col-md-4">
                                            </div>
                                            <label class="col-md-2 col-form-label">Total Earned Credits :*</label>
                                            <div class="col-md-4">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label">SPI:*</label>
                                            <div class="col-md-4">
                                                <label class="col-md-8 col-form-label">Semester performance index</label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label">PPI:*</label>
                                            <div class="col-md-4">
                                                <label class="col-md-8 col-form-label">Progressive Performance index</label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label">CPI:*</label>
                                            <div class="col-md-4">
                                                <label class="col-md-8 col-form-label">Cumulative  Performance index</label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label">Disclaimer:*</label>
                                            <div class="col-md-7">
                                                <label class="col-md-8 col-form-label">The above information is electronically generated has no value ,</label>

                                                <label class="col-md-8 col-form-label">However the same be got confirmed from the offical documents issued by the univercity</label>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--/.col-->
</div>