<footer class="app-footer">
    <span><a href="http://coreui.io">WWW.campuslynx.in</a> &copy;</span>
    <span class="ml-auto">Powered by <a href="http://coreui.io">www.jilit.co.in</a></span>
</footer>