<div class="animated fadeIn">
    <div class="row">
        <!--/.col-->
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <strong> Feedback Analysis For Me</strong>
                    <small></small>

                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label"> SRS Event Code</label>
                                            <div class="col-md-4">

                                                <input type="text" id="text" name="text" placeholder="">
                                            </div>

                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label"> Reg. Code</label>
                                            <div class="col-md-4">
                                                <input type="text" id="text" name="text" placeholder="">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label"> Subject</label>
                                            <div class="col-md-8">
                                                <table class="table table-bordered table-striped table-sm">
                                                    <thead>
                                                        <tr>
                                                            <th>Sr.No.</th>
                                                            <th>Subject</th>
                                                            <th>Description</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>

                                                            <td>Vishnu Serghei</td>
                                                            <td>2012/01/01</td>
                                                            <td>Member</td>

                                                        </tr>


                                                        <tr>
                                                            <td>Vishnu Serghei</td>
                                                            <td>2012/01/01</td>
                                                            <td>Member</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Vishnu Serghei</td>
                                                            <td>2012/01/01</td>
                                                            <td>Member</td>

                                                        </tr>
                                                        <tr>
                                                            <td>Vishnu Serghei</td>
                                                            <td>2012/01/01</td>
                                                            <td>Member</td>

                                                        </tr>
                                                        <tr>
                                                            <td>Vishnu Serghei</td>
                                                            <td>2012/01/01</td>
                                                            <td>Member</td>

                                                        </tr>
                                                        <tr>
                                                            <td>Vishnu Serghei</td>
                                                            <td>2012/01/01</td>
                                                            <td>Member</td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <button type="button" style="margin-left:400px;" class="btn btn-lg btn-primary">SAVE</button>
                                        </div>
                                    </form>

                                </div>

                            </div>
                            <div class="card-body">
                                <table class="table table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>

                                            <th>Subject</th>
                                            <th>Description</th>
                                            <th>Component</th>
                                            <th>Average</th>
                                            <th>Median</th>
                                            <th>STD Dev.</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>

                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <span class="badge badge-success">Active</span>
                                            </td>
                                        </tr>
                                        <tr>

                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <span class="badge badge-danger">Banned</span>
                                            </td>
                                        </tr>
                                        <tr>

                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <span class="badge badge-secondary">Inactive</span>
                                            </td>
                                        </tr>
                                        <tr>

                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <span class="badge badge-warning">Pending</span>
                                            </td>
                                        </tr>
                                        <tr>

                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <span class="badge badge-success">Active</span>
                                            </td>
                                        </tr>
                                        <tr>

                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <span class="badge badge-success">Active</span>
                                            </td>
                                        </tr>


                                    </tbody>
                                </table>

                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                                    <li class="page-item active">
                                        <a class="page-link" href="#">1</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--/.col-->
</div>