<div class="animated fadeIn">
    <div class="row">
        <!--/.col-->
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <strong>Employee Personal Information</strong>
                    <!-- <small>Taken by registrar office if any</small> -->
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">Name</label>
                                <label class="col-md-9 col-form-label">: Mr. Shanu Sharma</label>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">Employee Code</label>
                                <label class="col-md-9 col-form-label">: 1139</label>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">Spouse Name</label>
                                <label class="col-md-9 col-form-label">: ...</label>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">Father's Name</label>
                                <label class="col-md-9 col-form-label">: XYZ</label>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label"> Mother's Name</label>
                                <label class="col-md-9 col-form-label">: ABC</label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
                                <img src="assets/img/avatars/6.jpg" alt="Paris" width="100%" height="100%">
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="card">
                <!-- <div class="card-header">
                    <strong>Employee Personal Information</strong> -->
                <!-- <small>Taken by registrar office if any</small> -->
                <!-- </div> -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label"> Date of Joining</label>
                                <label class="col-md-4 col-form-label">: 11/11/2010</label>

                                <label class="col-md-2 col-form-label"> Date of Birth</label>
                                <label class="col-md-4 col-form-label">: 21/02/1992</label>

                                <label class="col-md-2 col-form-label"> Category</label>
                                <label class="col-md-4 col-form-label">: GEN-GENERAL</label>

                                <label class="col-md-2 col-form-label"> Grade</label>
                                <label class="col-md-4 col-form-label">: ...</label>

                                <label class="col-md-2 col-form-label"> Department</label>
                                <label class="col-md-4 col-form-label">: CIVIL ENgg.</label>

                                <label class="col-md-2 col-form-label"> Designation</label>
                                <label class="col-md-4 col-form-label">: AP001-ASISTANT PROFESSOR</label>

                                <label class="col-md-1 col-form-label"> Staff Block</label>
                                <label class="col-md-2 col-form-label">: ...</label>

                                <label class="col-md-1 col-form-label"> Staff Room</label>
                                <label class="col-md-2 col-form-label">:...</label>

                                <label class="col-md-2 col-form-label"> Staff other Info.</label>
                                <label class="col-md-4 col-form-label">: ...</label>

                                <label class="col-md-2 col-form-label"> PF A/C Number</label>
                                <label class="col-md-4 col-form-label">: ...</label>

                                <label class="col-md-2 col-form-label">PAN Number</label>
                                <label class="col-md-4 col-form-label">: ...</label>

                                <label class="col-md-2 col-form-label">Bank A/C No/Name</label>
                                <label class="col-md-4 col-form-label">: ...</label>

                                <label class="col-md-2 col-form-label"> E-mail</label>
                                <label class="col-md-4 col-form-label">: ...</label>

                                <label class="col-md-2 col-form-label">Passport Number</label>
                                <label class="col-md-4 col-form-label">: ...</label>

                                <label class="col-md-2 col-form-label"> Issue From</label>
                                <label class="col-md-4 col-form-label">: ...</label>

                                <label class="col-md-2 col-form-label"> Paaport Issue On</label>
                                <label class="col-md-4 col-form-label">: ...</label>

                                <label class="col-md-2 col-form-label"> Passport Valid Upto</label>
                                <label class="col-md-4 col-form-label">: ...</label>

                                <label class="col-md-2 col-form-label"> Cell No.(Correspondance)</label>
                                <label class="col-md-4 col-form-label">: ...</label>

                                <label class="col-md-2 col-form-label"> Corresponadance Phone</label>
                                <label class="col-md-4 col-form-label">: ...</label>

                                <label class="col-md-2 col-form-label"> Cell No.(Permanent)</label>
                                <label class="col-md-4 col-form-label">: ...</label>

                                <label class="col-md-2 col-form-label"> Permanent Phone</label>
                                <label class="col-md-4 col-form-label">: ...</label>

                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-header">
                                    <strong>Correspondance Address</strong>

                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label"> Address</label>
                                                <label class="col-md-9 col-form-label">: ...</label>

                                                <label class="col-md-3 col-form-label"> District</label>
                                                <label class="col-md-9 col-form-label">: ...</label>

                                                <label class="col-md-3 col-form-label"> City/PIN</label>
                                                <label class="col-md-9 col-form-label">: ...</label>

                                                <label class="col-md-3 col-form-label"> State</label>
                                                <label class="col-md-9 col-form-label">: ...</label>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-header">
                                    <strong>Permanent Address</strong>

                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label"> Address</label>
                                                <label class="col-md-9 col-form-label">: ...</label>

                                                <label class="col-md-3 col-form-label"> District</label>
                                                <label class="col-md-9 col-form-label">: ...</label>

                                                <label class="col-md-3 col-form-label"> City/PIN</label>
                                                <label class="col-md-9 col-form-label">: ...</label>

                                                <label class="col-md-3 col-form-label"> State</label>
                                                <label class="col-md-9 col-form-label">: ...</label>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>

</div>