<div class="animated fadeIn">
    <div class="row">
        <!--/.col-->
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <strong>Internal Marks Entry</strong>
                    <small></small>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label">Evaluator Name:</label>
                                            <div class="col-md-3">
                                                <label>Shanu Sharma[1234]</label>
                                            </div>
                                            <label class="col-md-2 col-form-label">Marks Entry For :</label>
                                            <div class="col-md-5">
                                                <input type="radio" id="radio1" name="radios" value="option1">Self Batch(by individual)
                                                <input type="radio" id="radio1" name="radios" value="option1">All Batch (by coordinatior)
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label" for="email-input">Semester Code</label>
                                            <select class="col-md-2 form-control">
                                              <option>-Select- </option>
                                              <option>A</option>
                                              <option>B</option>
                                              <option>C</option>

                                            </select>
                                            <label class="col-md-3 col-form-label" for="email-input">Choose Subject Pattern</label>
                                            <select class="col-md-2 form-control">
                                              <option>-Select- </option>
                                              <option>A</option>
                                              <option>B</option>
                                              <option>C</option>

                                            </select>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label" for="email-input">Subject Description</label>
                                            <select class="col-md-2 form-control">
                                              <option>-Select- </option>
                                              <option>A</option>
                                              <option>B</option>
                                              <option>C</option>

                                            </select>
                                            <label class="col-md-2 col-form-label" for="email-input">Subject component </label>
                                            <select class="col-md-2 form-control">
                                              <option>-Select- </option>
                                              <option>A</option>
                                              <option>B</option>
                                              <option>C</option>

                                            </select>
                                            <label class="col-md-1 col-form-label" for="email-input">Section</label>
                                            <select class="col-md-2 form-control">
                                              <option>-Select- </option>
                                              <option>A</option>
                                              <option>B</option>
                                              <option>C</option>

                                            </select><br>
                                            <button class="btn-primary">ok</button>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <table class="table table-bordered table-striped table-sm">
                                                            <thead>
                                                                <tr>
                                                                    <th>Maximum Marks (Full Marks For Evaluation )</th>
                                                                    <th>Weightage in marks </th>
                                                                    <th>Passing Marks </th>
                                                                    <th>Conditional Passing Marks </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="form-group row">
                                                            <div class="form-group row">
                                                                <label class="col-md-2 col-form-label">Note:</label>
                                                                <div class="col-md-3">
                                                                    <label>In case of mistake enter marks again and press tab button to reset prompt</label>
                                                                </div>
                                                                <label class="col-md-1 col-form-label"></label>
                                                                <div class="col-md-6">
                                                                    <button class="btn-primary col-md-2">Save</button>
                                                                    <button class="btn-primary col-md-2">Stop</button>
                                                                    <button class="btn-primary col-md-2">Print</button>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/.col-->
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--/.col-->
</div>
<!-- /.modal  -->
<div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Semester Code</h4>
                <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <select class="form-control">
            <option>All</option>
            <option>SI No</option>
            <option>Registration code</option>
            <option>Registrationdesc</option>

          </select>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="email-input" name="email-input" class="form-control" placeholder="">
                    </div>
                    <span class="col-md-4">
          <strong>0 Records of 0</strong>
        </span>
                </div>
                <div class="row">
                    <br>
                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                            <tr>
                                <th>SI No</th>
                                <th>Registration code</th>
                                <th>Registrationdesc</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr></tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="largeModal.hide()">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal1 -->
<div bsModal #largeModal1="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Registration Number</h4>
                <button type="button" class="close" (click)="largeModal1.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <select class="form-control">
            <option>All</option>
            <option>SI No</option>
            <option>EnrollmentNo</option>
            <option>Name</option>

          </select>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="email-input" name="email-input" class="form-control" placeholder="">
                    </div>
                    <span class="col-md-4">
          <strong>0 Records of 0</strong>
        </span>
                </div>
                <div class="row">
                    <br>
                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                            <tr>
                                <th>SI No</th>
                                <th>EnrollmentNo</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr></tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="largeModal1.hide()">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal1 -->
<div bsModal #largeModal2="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Exam Event</h4>
                <button type="button" class="close" (click)="largeModal2.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <select class="form-control">
            <option>All</option>
            <option>SI No</option>
            <option>ExamEventcode</option>
            <option>ExamEventDesc</option>

          </select>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="email-input" name="email-input" class="form-control" placeholder="">
                    </div>
                    <span class="col-md-4">
          <strong>0 Records of 0</strong>
        </span>
                </div>
                <div class="row">
                    <br>
                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                            <tr>
                                <th>SI No</th>
                                <th>ExamEventcode</th>
                                <th>ExamEventDesc</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr></tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="largeModal2.hide()">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>