<div class="animated fadeIn">
    <div class="row">
        <!--/.col-->
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <strong>  FeedBack Form</strong>
                    <small></small>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

                                        <div class="form-group row">
                                            <label class="col-md-1 col-form-label"> Name:</label>
                                            <div class="col-md-3">
                                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Name">
                                            </div>
                                            <label class="col-md-2 col-form-label"> Program Branch:</label>
                                            <div class="col-md-2">
                                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="branch">
                                            </div>
                                            <label class="col-md-2 col-form-label" for="text-input">Semester</label>
                                            <div class="col-md-2">
                                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="sem">
                                            </div>

                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label">SRC Type:*</label>
                                            <div class="col-md-3">
                                                <input type="radio" id="radio1" name="radios" value="option1">Faculty Wise
                                            </div>

                                            <div class="col-md-3">
                                                <input type="radio" id="radio1" name="radios" value="option1">Course Wise
                                            </div>

                                            <div class="col-md-3">
                                                <input type="radio" id="radio1" name="radios" value="option1">Other/Topic Wise
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label"> SRC For :*</label>
                                            <div class="col-md-6">
                                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Select SRC For">
                                            </div>
                                            <div class="col-md-2">
                                                <button> GO</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.col-->
</div>