<div class="animated fadeIn">
    <div class="row">

        <!--/.col-->
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <strong>Student</strong>
                    <small>Class Attendance Details</small>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label for="company">Name</label>
                            <p>Firstname Lastname[11MCHC14] </p>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="vat">Course /Branch</label>
                            <p>MTECH[MCHC]</p>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="street">Current Semester</label>
                            <p>8</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label for="city">Semester Code</label>
                            <select class="form-control" id="ccmonth">
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                              <option>6</option>
                              <option>7</option>
                              <option>8</option>
                              <option>9</option>
                              <option>10</option>
                              <option>11</option>
                              <option>12</option>
                            </select>
                        </div>

                    </div>
                    <!--/.row-->

                    <div class="form-actions">
                        <button type="submit" class="btn btn-success"><i class="fa fa-eye "></i> View Attendance</button>
                        <button class="btn btn-danger" type="button"><i class="fa fa-ban"></i> Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>


</div>