<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> <strong>Student Class Attendance Sheet</strong>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="select">Semester Code</label>
                <div class="col-md-3">
                    <select id="select" name="select" class="form-control">
                    <option value="0">Please select</option>
                    <option value="1">Option #1</option>
                    <option value="2">Option #2</option>
                    <option value="3">Option #3</option>
                  </select>
                </div>
                <label class="col-md-3 col-form-label" for="disabled-input">Faculty<strong style="color:red">*</strong></label>
                <div class="col-md-3">
                    <input type="text" id="disabled-input" name="disabled-input" class="form-control" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="disabled-input">Department</label>
                <div class="col-md-3">
                    <input type="text" id="disabled-input" name="disabled-input" class="form-control" placeholder="">
                </div>
                <label class="col-md-3 col-form-label" for="disabled-input">Designation</label>
                <div class="col-md-3">
                    <input type="text" id="disabled-input" name="disabled-input" class="form-control" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="disabled-input">Select Code</label>
                <div class="col-md-3">
                    <select id="select" name="select" class="form-control">
                    <option value="0">Please select</option>
                    <option value="1">Option #1</option>
                    <option value="2">Option #2</option>
                    <option value="3">Option #3</option>
                  </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="disabled-input">Subject Component</label>
                <div class="col-md-3">
                    <select id="select" name="select" class="form-control">
                    <option value="0">Please select</option>
                    <option value="1">Option #1</option>
                    <option value="2">Option #2</option>
                    <option value="3">Option #3</option>
                  </select>
                </div>
                <label class="col-md-3 col-form-label" for="disabled-input">Branch</label>
                <div class="col-md-3">
                    <select id="select" name="select" class="form-control">
                    <option value="0">Please select</option>
                    <option value="1">Option #1</option>
                    <option value="2">Option #2</option>
                    <option value="3">Option #3</option>
                  </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="disabled-input">From Date</label>
                <div class="col-md-3">
                    <input type="date" id="disabled-input" name="disabled-input" class="form-control" placeholder="">
                </div>
                <label class="col-md-3 col-form-label" for="disabled-input">To Date</label>
                <div class="col-md-3">
                    <input type="date" id="disabled-input" name="disabled-input" class="form-control" placeholder="">
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-eye"></i> Show</button>
            <button type="reset" class="btn btn-sm btn-warning"><i class="fa fa-ban"></i> Reset</button>
            <button type="submit" class="btn btn-sm btn-danger"><i class="fa fa-window-close"></i> Close</button>
            <button type="reset" class="btn btn-sm btn-success"><i class="fa fa-file-excel-o"></i> Export to Excel</button>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> <strong>Student Class Attendance Sheet</strong>
        </div>
        <div class="card-body">
            <div class="col-sm-12" style="overflow:auto">
                <table class="table table-bordered table-striped table-sm">
                    <thead>
                        <tr>
                            <th>SI No.</th>
                            <th>Registration No.</th>
                            <th>Name Of Student</th>
                            <th>Sub Section</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>