<header class="app-header navbar">
    <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>
    <!-- <span class="navbar-toggler-icon"></span> -->
    
  </button>
    <img id="logo0" src="https://upload.wikimedia.org/wikipedia/en/8/84/University_of_Delhi.png" width="80px" height="50px">
    <img id="logo1" style="display: none" src="http://dmcs.unipune.ac.in/images/placement/Academics/SPPU-Logo.png" width="80px" height="50px">
    <img id="logo2" style="display: none" src="https://upload.wikimedia.org/wikipedia/en/8/84/University_of_Delhi.png" width="90px" height="50px">
    <img id="logo3" style="display: none" src="https://r24-sinfosoft.netdna-ssl.com/wp-content/uploads/2016/09/Mumbai-University-logo.jpg" width="90px" height="50px">

    <!-- <a class="navbar-brand" href="#"></a> -->
    <button class="navbar-toggler d-md-down-none" type="button" appSidebarToggler>
    <span class="navbar-toggler-icon"></span>
  </button>
    <ul class="nav navbar-nav d-md-down-none">
        <!-- <li class="nav-item px-3">
            <a class="nav-link" href="#">Dashboard</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="#">Users</a>
        </li> -->
        <li class="nav-item px-3">
            <a class="nav-link" href="#">Instutite Name (as per Login)</a>
        </li>
        <select id="select" name="stylecss">
            <option value="notselected" selected >Select Institute option</option>
           <option value="pune" >ABC Institute</option>
           <option value="delhi">XYZ Institute</option>
           <option value="mumbai">PQR Institute</option>
         </select>

    </ul>
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item d-md-down-none">
            <a class="dropdown-item" href="#">WelCome {{ adminname}} </a>
        </li>
        <li class="nav-item d-md-down-none">
            <a class="dropdown-item" href="#"> CampusLynx Logo</a>
            <button class="bg-primary" (click)="logout()"> </button>

        </li>

        <li class="nav-item dropdown" dropdown placement="bottom right">
            <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
                <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" />

            </a>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
                <div class="dropdown-header text-center"><strong>Account</strong></div>
                <a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i> Updates<span class="badge badge-info">42</span></a>
                <a class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i> Messages<span class="badge badge-success">42</span></a>
                <a class="dropdown-item" href="#"><i class="fa fa-tasks"></i> Tasks<span class="badge badge-danger">42</span></a>
                <a class="dropdown-item" href="#"><i class="fa fa-comments"></i> Comment<span class="badge badge-warning">42</span></a>
                <div class="dropdown-header text-center"><strong>Settings</strong></div>
                <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
                <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Setting</a>
                <a class="dropdown-item" href="#"><i class="fa fa-usd"></i> Payments<span class="badge badge-dark">42</span></a>
                <a class="dropdown-item" href="#"><i class="fa fa-file"></i> Projects<span class="badge badge-primary">42</span></a>
                <div class="divider"></div>
                <a class="dropdown-item" href="#"><i class="fa fa-shield"></i> Lock account</a>
                <a class="dropdown-item" href="#"><i class="fa fa-lock"></i> Logout</a>
            </div>
        </li>
        <button class="navbar-toggler d-md-down-none" type="button" appAsideMenuToggler>
      <span class="navbar-toggler-icon"></span>
    </button>
    </ul>
</header>