<div class="animated fadeIn">
    <div class="row">
        <!--/.col-->
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <strong> Faculty Advisor's Feedback For Students </strong>
                    <small></small>
                    <div style="background-color:lightgray;border:1px solid black; margin:10px;padding:10px;">
                        <small>
                        <h5 style="text-decoration:underline;">INSTRUCTIONS:</h5>
                        <p>A) Please give your view / assessment about the student's quality in differnent aspects. The feed back will help us to find the difficulty faced by you and to improve the quality in future</p>
                        <p>B) Write / put a number to indicate quality against eact factor i.e., Excellent -5 ,Very Good - 4, Good - 3, Avrage - 2, Below Average - 1 </p>
                        <p>C) Read each factor carefully every time, then think and give your view in Number()i.e. 5,4,3,2 or 1) </p>
                        <p>D) Write Name or regn. No./Roll No. of any of the student. Do not consult others, give your own rating.</p>
                       </small>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label"> Ragistation Code</label>
                                            <div class="col-md-3">
                                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Enter ragistation code">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label"> Student's Registration No.</label>
                                            <div class="col-md-3">
                                                <select class="form-control" id="ccmonth">
                                                  <option>1</option>
                                                  <option>2</option>
                                                  <option>3</option>
                                                  <option>4</option>
                                                  <option>5</option>
                                                  <option>6</option>
                                                  <option>7</option>
                                                  <option>8</option>
                                                  <option>9</option>
                                                  <option>10</option>
                                                  <option>11</option>
                                                  <option>12</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label" for="text-input">Event Code</label>
                                            <div class="col-md-3">
                                                <select class="form-control" id="ccmonth">
                                                  <option>1</option>
                                                  <option>2</option>
                                                  <option>3</option>
                                                  <option>4</option>
                                                  <option>5</option>
                                                  <option>6</option>
                                                  <option>7</option>
                                                  <option>8</option>
                                                  <option>9</option>
                                                  <option>10</option>
                                                  <option>11</option>
                                                  <option>12</option>
                                                </select>

                                            </div>
                                            <p style="color: red;padding:10px;">Note : Feedback once saved can not be reverted back or changed again.</p>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--/.col-->
</div>