<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> <strong>View/Download Uploaded File</strong>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <div class="col-sm-6">
                    <label class="radio-inline" for="inline-radio1">
                              <input type="radio" id="inline-radio1" name="inline-radios" value="Self" (click)="changetype('Self')" [checked]='true'> Self Upload File
                            </label>
                    <label class="radio-inline" for="inline-radio2">
                              <input type="radio" id="inline-radio2" name="inline-radios" value="Other"(click)="changetype('Other')" > Other Upload File
                            </label>
                </div>
            </div>
            <div class="form-group row" *ngIf="selectedtype=='Other'?true:false">

                <label class="col-md-2 col-form-label" for="email-input">Staff Code</label>
                <div class="col-md-2">
                    <input type="text" id="email-input" name="email-input" class="form-control detailsearch" placeholder=".." (dblclick)="largeModal.show()">
                    <!-- <span class="help-block">Please enter your email</span> -->
                </div>
                <div class="col-md-4">
                    <input type="text" id="email-input" name="email-input" class="form-control" placeholder="..">
                    <!-- <span class="help-block">Please enter your email</span> -->
                </div>
                <button class="btn btn-sm btn-primary">View Details</button>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="email-input">Name<strong style="color:red">*</strong> </label>
                <div class="col-sm-4">
                    <input disabled type="text" id="email-input" name="email-input" class="form-control" placeholder="Shanu Sharma">
                </div>
                <label class="col-sm-2 col-form-label" for="email-input">Code</label>
                <div class="col-sm-4">
                    <input disabled type="text" id="email-input" name="email-input" class="form-control" placeholder="6731">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="email-input">Uploading Title</label>
                <div class="col-sm-4">
                    <select class="form-control">
                     <option>Select</option>
                     <option>..</option>
                   </select>
                </div>

            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="email-input">Downloading From Date<strong style="color:red">*</strong></label>
                <div class="col-sm-4">
                    <input type="date" id="email-input" name="email-input" class="form-control" placeholder="...">
                </div>
                <label class="col-sm-2 col-form-label" for="email-input"> To Date <strong style="color:red">*</strong></label>
                <div class="col-sm-4">
                    <input type="date" id="email-input" name="email-input" class="form-control" placeholder="...">
                </div>
            </div>

            <div class="form-group row">
                <div class="controls col-sm-6">
                    <div class="input-group">
                        <input id="appendedInputButtons" class="form-control" type="text">
                        <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Search</button>

              </span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Validate</button>
                    <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
                    <button class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Delete</button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12" style="overflow:auto">
                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                            <tr>
                                <th>SI. NO.</th>
                                <th>Title</th>
                                <th>Date and Time of Upload</th>
                                <th>Remarks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Select Staff</h4>
                <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <select class="form-control">
                                <option>All</option>
                                <option>SI No</option>
                                <option>Employee Code</option>
                                <option>Employee Name</option>

                         </select>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="email-input" name="email-input" class="form-control" placeholder="">
                    </div>
                    <span class="col-md-4"><strong>0 Records of 0</strong></span>
                </div>
                <div class="row">
                    <div class="col-sm-10" style="overflow:auto">
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>SI No</th>
                                    <th>Employee Code</th>
                                    <th>Employee Name</th>

                                </tr>
                            </thead>
                            <tbody>

                                <tr></tr>
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="largeModal.hide()">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->