<div class="animated fadeIn">
    <div class="row">
        <!--/.col-->
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <strong>My Examination Schedule</strong>
                    <small></small>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label">Semester Code*:</label>
                                            <div class="col-md-4">
                                                <input type="text" id="email-input" name="email-input" class="form-control detailsearch" placeholder=".." (dblclick)="largeModal.show()">
                                            </div>
                                            <div class="col-md-4">
                                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label"> Registration Number*:</label>
                                            <div class="col-md-4">
                                                <input type="text" id="email-input" name="email-input" class="form-control detailsearch" placeholder=".." (dblclick)="largeModal1.show()">
                                            </div>
                                            <div class="col-md-4">
                                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label"> Exam Event:</label>
                                            <div class="col-md-4">
                                                <input type="text" id="email-input" name="email-input" class="form-control detailsearch" placeholder=".." (dblclick)="largeModal2.show()">
                                            </div>
                                            <div class="col-md-4">
                                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label"> Exam Type*:</label>
                                            <div class="col-md-4">
                                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Name">
                                            </div>
                                            <div class="col-md-4">
                                                <button class="btn-primary"> ok</button>
                                                <button class="btn-danger"> block</button>
                                                <button class="btn-danger"> close</button>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                    </div>
                                                    <div class="card-body">
                                                        <table class="table table-bordered table-striped table-sm">
                                                            <thead>
                                                                <tr>
                                                                    <th>SL.No</th>
                                                                    <th>date</th>
                                                                    <th>Time(From-To) </th>
                                                                    <th>Subject</th>
                                                                    <th>Exam Center</th>
                                                                    <th>room Number</th>
                                                                    <th>Seat No</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/.col-->
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--/.col-->
</div>
<!-- /.modal  -->
<div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Semester Code</h4>
                <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <select class="form-control">
              <option>All</option>
              <option>SI No</option>
              <option>Registration code</option>
              <option>Registrationdesc</option>

            </select>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="email-input" name="email-input" class="form-control" placeholder="">
                    </div>
                    <span class="col-md-4">
            <strong>0 Records of 0</strong>
          </span>
                </div>
                <div class="row">
                    <br>
                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                            <tr>
                                <th>SI No</th>
                                <th>Registration code</th>
                                <th>Registrationdesc</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr></tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="largeModal.hide()">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal1 -->
<div bsModal #largeModal1="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Registration Number</h4>
                <button type="button" class="close" (click)="largeModal1.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <select class="form-control">
              <option>All</option>
              <option>SI No</option>
              <option>EnrollmentNo</option>
              <option>Name</option>

            </select>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="email-input" name="email-input" class="form-control" placeholder="">
                    </div>
                    <span class="col-md-4">
            <strong>0 Records of 0</strong>
          </span>
                </div>
                <div class="row">
                    <br>
                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                            <tr>
                                <th>SI No</th>
                                <th>EnrollmentNo</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr></tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="largeModal1.hide()">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal1 -->
<div bsModal #largeModal2="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Exam Event</h4>
                <button type="button" class="close" (click)="largeModal2.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <select class="form-control">
              <option>All</option>
              <option>SI No</option>
              <option>ExamEventcode</option>
              <option>ExamEventDesc</option>

            </select>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="email-input" name="email-input" class="form-control" placeholder="">
                    </div>
                    <span class="col-md-4">
            <strong>0 Records of 0</strong>
          </span>
                </div>
                <div class="row">
                    <br>
                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                            <tr>
                                <th>SI No</th>
                                <th>ExamEventcode</th>
                                <th>ExamEventDesc</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr></tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="largeModal2.hide()">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>