<div class="container-fluid">
    <section class="content" id="tb">
        <div class="card">
            <div class="card-body">
                <div class="well">
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label">Enrollnment No</label>
                        <div class="col-md-4">
                            <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Text">
                        </div>
                        <label class="col-md-2 col-form-label" for="text-input">Name</label>
                        <div class="col-md-4">
                            <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label">Branch Code</label>
                        <div class="col-md-4">
                            <input type="number" id="text-input" name="text-input" class="form-control" placeholder="number">
                        </div>
                        <label class="col-md-2 col-form-label" for="text-input">Branch Description</label>
                        <div class="col-md-4">
                            <input type="text" id="text-input" name="text-input" class="form-control" placeholder="branch">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label">From Date</label>
                        <div class="col-md-4">
                            <input type="date" id="text-input" name="text-input" class="form-control" placeholder="from date">
                        </div>
                        <label class="col-md-2 col-form-label" for="text-input">To Date</label>
                        <div class="col-md-4">
                            <input type="date" id="text-input" name="text-input" class="form-control" placeholder="Text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="well" color="Red">
                    &nbsp;&nbsp;
                    <div class="form-group col-md-2">
                    </div>
                </div>
                <div class="well" color="Red">
                    <button class="btn btn-md  btn-primary" (click)="searchjs()"><i class="fa fa-spinner" aria-hidden="true"></i>Search</button>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-align-justify"></i> Debit credit Advice
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th>SL.No</th>
                                            <th>Advice Date</th>
                                            <th>Advice Type DR/CR</th>
                                            <th>Amount</th>
                                            <th>Voucher no/Voucher Date</th>
                                            <th>From/Description</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--/.col-->
                </div>
            </div>
        </div>
    </section>
</div>