<div class="animated fadeIn">
    <div class="btn-group col-md-1 col-sm-2 float-right " dropdown>
        <button type="button" class="btn btn-lg btn-primary dropdown-toggle p-0 " dropdownToggle>Display</button>
        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
            <form name="frm" method="post">

                <ul id="checkBoxes">
                    <input type="checkbox" name="check" value="check1" (click)="changeShowStatus()" class="selectedId" id="check1">Frame 1<br>
                    <input type="checkbox" name="check" value="check2" (click)="changeShowStatus()" class="selectedId" id="check2">Frame 2<br>
                    <input type="checkbox" name="check" value="check3" (click)="changeShowStatus()" class="selectedId" id="check3">Frame 3<br>
                    <input type="checkbox" name="check" value="check4" (click)="changeShowStatus()" class="selectedId" id="check4">Frame 4<br>
                    <input type="checkbox" name="check" value="check5" (click)="changeShowStatus()" class="selectedId" id="check5">Frame 5<br>
                    <input type="checkbox" name="check" value="check6" (click)="changeShowStatus()" class="selectedId" id="check6">Frame 6<br>
                </ul>
            </form>
        </div>
    </div>

    <!-- <ul class="chk-container">
            <li><input type="checkbox" (click)="checkall()" id="selectAll" />Select All</li>
            <li><input type="checkbox" name="check" value="check1" class="selectedId" />Checkbox 1</li>
            <li><input type="checkbox" name="check" value="check2" class="selectedId" />Checkbox 2</li>
            <li><input type="checkbox" name="check" value="check3" class="selectedId" />Checkbox 3</li>
            <li><input type="checkbox" name="check" value="check4" class="selectedId" />Checkbox 4</li>
            <li><input type="checkbox" name="check" value="check5" class="selectedId" />Checkbox 5</li>
        </ul> -->

    <!-- <div id="AdvancedOption" style="display: none;" class="col-md-8 col-sm-8 btn-group-sm">
            <a href="#" class="btn btn-danger toolbar2 deleteAccount" title="Delete this account" role="button">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </a>
            <a href="#" class="btn btn-warning toolbar1 editTeam" title="Edit this account" role="button" style="display: none;">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </a>
        </div> -->
    <div id="snackbar0">You have selected Frame-1</div>
    <div id="snackbar1">You have selected Frame-2</div>
    <div id="snackbar2">You have selected Frame-3</div>
    <div id="snackbar3">You have selected Frame-4</div>
    <div id="snackbar4">You have selected Frame-5</div>
    <div id="snackbar5">You have selected Frame-6</div>

    <div class="row">
        <div id="frame1" class="col-sm-12 col-lg-6">
            <div class="card text-white bg-primary">
                <div class="card-body pb-0">
                    <div class="btn-group float-right" dropdown>
                        <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
                                <i class="icon-settings"></i>
                             </button>
                        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                    <h4 class="mb-0">Frame-1</h4>
                    <p>All Notification or information or general Broadcast </p>
                </div>
                <div class="chart-wrapper px-3" style="height:70px;">
                    <canvas baseChart class="chart" [datasets]="lineChart1Data" [labels]="lineChart1Labels" [options]="lineChart1Options" [colors]="lineChart1Colours" [legend]="lineChart1Legend" [chartType]="lineChart1Type" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
        </div>
        <!--/.col-->
        <div id='frame4' style="display: none;" class="col-sm-12 col-lg-6">
            <div class="card text-white bg-info">
                <div class="card-body pb-0">
                    <button type="button" class="btn btn-transparent p-0 float-right">
                <i class="icon-location-pin"></i>
              </button>
                    <h4 class="mb-0">Frame-4</h4>
                    <p></p>
                </div>
                <div class="chart-wrapper px-3" style="height:70px;">
                    <canvas baseChart class="chart" [datasets]="lineChart2Data" [labels]="lineChart2Labels" [options]="lineChart2Options" [colors]="lineChart2Colours" [legend]="lineChart2Legend" [chartType]="lineChart2Type" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
        </div>
        <!--/.col-->
        <div id='frame2' style="display: none;" class="col-sm-12 col-lg-6">
            <div class="card text-white bg-warning">
                <div class="card-body pb-0">
                    <div class="btn-group float-right" dropdown>
                        <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
                  <i class="icon-settings"></i>
                </button>
                        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                    <h4 class="mb-0">Frame-2</h4>
                    <p>All Approving request for action</p>
                </div>
                <div class="chart-wrapper" style="height:70px;">
                    <canvas baseChart class="chart" [datasets]="lineChart3Data" [labels]="lineChart3Labels" [options]="lineChart3Options" [colors]="lineChart3Colours" [legend]="lineChart3Legend" [chartType]="lineChart3Type" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
        </div>
        <div id='frame5' style="display: none;" class="col-sm-12 col-lg-6">
            <div class="card text-white bg-warning">
                <div class="card-body pb-0">
                    <div class="btn-group float-right" dropdown>
                        <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
                <i class="icon-settings"></i>
              </button>
                        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                    <h4 class="mb-0">Frame-5</h4>
                    <p></p>
                </div>
                <div class="chart-wrapper" style="height:70px;">
                    <canvas baseChart class="chart" [datasets]="lineChart3Data" [labels]="lineChart3Labels" [options]="lineChart3Options" [colors]="lineChart3Colours" [legend]="lineChart3Legend" [chartType]="lineChart3Type" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
        </div>
        <div id='frame3' style="display: none;" class="col-sm-12 col-lg-6">
            <div class="card text-white bg-danger">
                <div class="card-body pb-0">
                    <div class="btn-group float-right" dropdown>
                        <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
                <i class="icon-settings"></i>
              </button>
                        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                    <h4 class="mb-0">Frame-3</h4>
                    <p>SCGA Semester Wise </p>
                </div>
                <div class="chart-wrapper px-3" style="height:70px;">
                    <canvas baseChart class="chart" [datasets]="barChart1Data" [labels]="barChart1Labels" [options]="barChart1Options" [colors]="barChart1Colours" [legend]="barChart1Legend" [chartType]="barChart1Type" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
        </div>
        <div id='frame6' style="display: none;" class="col-sm-12 col-lg-6">
            <div class="card text-white bg-primary">
                <div class="card-body pb-0">
                    <div class="btn-group float-right" dropdown>
                        <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
                <i class="icon-settings"></i>
              </button>
                        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                    <h4 class="mb-0">Frame-6</h4>
                    <p></p>
                </div>
                <div class="chart-wrapper px-3" style="height:70px;">
                    <canvas baseChart class="chart" [datasets]="lineChart1Data" [labels]="lineChart1Labels" [options]="lineChart1Options" [colors]="lineChart1Colours" [legend]="lineChart1Legend" [chartType]="lineChart1Type" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
        </div>

        <!--/.col-->
    </div>
    <!--/.row-->

</div>