<div class="animated fadeIn">
    <!--/.row-->
    <div class="row" *ngIf="!editmode">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Facaulty Information
                </div>
                <div class="card-body">
                    <div class="col-sm-12" style="overflow:auto">
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>SI. NO.</th>
                                    <th>Employee Code</th>
                                    <th>Shortname</th>
                                    <th>Employee Name</th>
                                    <th>Date of birth</th>
                                    <th>Father's Name</th>
                                    <th>Mother's Name</th>
                                    <th>Husband Name</th>
                                    <th>Date of joining</th>
                                    <th>Remarks</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr (dblclick)="editmode=!editmode">
                                    <td>1</td>
                                    <td>6731</td>
                                    <td>SHNM114</td>
                                    <td>Shanu Sharma</td>
                                    <td>02/10/1978</td>
                                    <td>Patel Jagdish</td>
                                    <td>Kamla</td>
                                    <td>..</td>
                                    <td>03/11/2016</td>
                                    <td>
                                        <span class="badge badge-success">Active</span>
                                    </td>
                                    <td><i class="icon-trash icons"></i></td>
                            </tbody>
                        </table>
                    </div>
                    <nav>
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                            <li class="page-item active">
                                <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
    <div class="row" *ngIf="editmode">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong> Facaulty Information Updation</strong>
                </div>
                <div class="card-body">
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Company Code <span style="color:red">*</span></label>

                                    <div class="col-md-3">
                                        <input disabled type="text" id="text-input" name="text-input" class="form-control" placeholder="NIRU">
                                        <!-- <span class="help-block">This is a help text</span> -->
                                    </div>
                                    <div class="col-md-2">
                                        <p class="form-control-static">Nirma Univarsity</p>
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="text-input">Employee Code<span style="color:red">*</span></label>
                                    <div class="col-md-3">
                                        <input type="text" id="text-input" name="text-input" class="form-control" placeholder="6731" disabled>
                                        <!-- <span class="help-block">This is a help text</span> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-froup row">
                                    <div style="float:right; width:150px;height:150px;border:1px solid #c2cfd6;margin-left:150px;margin-bottom:5px"></div>
                                    <div class="row">
                                        <label class="col-sm-4 col-form-label" for="file-input">Upload Photo</label>
                                        <div class="col-sm-4">
                                            <input type="file" id="file-input" name="file-input">
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2 col-form-label" for="email-input">Employee Name<span style="color:red">*</span></label>
                            <div class="col-md-1">
                                <input disabled type="text" id="email-input" name="email-input" class="form-control" placeholder="Name">
                                <!-- <span class="help-block">Please enter your email</span> -->
                            </div>
                            <label disabled class="col-md-1 col-form-label" for="email-input">First Name<span style="color:red">*</span></label>
                            <div class="col-md-2">
                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="Shanu">
                                <!-- <span class="help-block">Please enter your email</span> -->
                            </div>
                            <label class="col-md-1 col-form-label" for="email-input">Middle Name</label>
                            <div class="col-md-2">
                                <input disabled type="text" id="email-input" name="email-input" class="form-control" placeholder="Sharma">
                                <!-- <span class="help-block">Please enter your email</span> -->
                            </div>
                            <label class="col-md-1 col-form-label" for="email-input">Last Name</label>
                            <div class="col-md-2">
                                <input disabled type="text" id="email-input" name="email-input" class="form-control" placeholder="...">
                                <!-- <span class="help-block">Please enter your email</span> -->
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="password-input">Shortname</label>
                            <div class="col-md-3">
                                <input type="text" id="password-input" name="password-input" class="form-control" placeholder="SHNM114">
                                <!-- <span class="help-block">Please enter a complex password</span> -->
                            </div>
                            <label class="col-md-3 col-form-label" for="password-input">Deactive</label>
                            <div class="col-md-3">
                                <select class="form-control" disabled>
                                        <option value="Yes">
                                          Yes
                                        </option>
                                        <option value="No">
                                            No
                                          </option>
                                    </select>
                            </div>

                        </div>

                        <!-- <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="file-input">Upload Photo</label>
                            <div class="col-md-9">
                                <input type="file" id="file-input" name="file-input">
                            </div>
                        </div> -->
                        <div class="row">
                            <div class="col-md-12 mb-12">
                                <!-- Nav tabs -->
                                <tabset>
                                    <tab heading="[P]ersonal details">
                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label" for="email-input">Date of Birth<span style="color:red">*</span></label>
                                            <div class="col-md-2">
                                                <input disabled type="date" id="email-input" name="email-input" class="form-control" value="02-11-1992" placeholder="02/11/1992">
                                                <!-- <span class="help-block">Please enter your email</span> -->
                                            </div>
                                            <label class="col-md-2 col-form-label" for="email-input">Gender</label>
                                            <select class="col-md-2 form-control">
                                              <option>Male</option>
                                                <option>Female</option>
                                          </select>
                                            <label class="col-md-2 col-form-label" for="email-input">Per.File no.(If any)</label>
                                            <div class="col-md-2">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="..">
                                                <!-- <span class="help-block">Please enter your email</span> -->
                                            </div>

                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label" for="email-input">Father Name</label>
                                            <div class="col-md-4">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="...">
                                                <!-- <span class="help-block">Please enter your email</span> -->
                                            </div>
                                            <label class="col-md-2 col-form-label" for="email-input">Mother Name</label>
                                            <div class="col-md-4">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="...">
                                                <!-- <span class="help-block">Please enter your email</span> -->
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label" for="email-input">Married</label>

                                            <div class="col-md-4">
                                                <label class="radio-inline" for="inline-radio1">
                                                  <input type="radio" id="inline-radio1" name="inline-radios" value="Yes"> Yes
                                                     </label>
                                                <label class="radio-inline" for="inline-radio2">
                                                       <input type="radio" id="inline-radio2" name="inline-radios" value="No"> No
                                                        </label>

                                            </div>
                                            <label class="col-md-2 col-form-label" for="email-input">Marriage date</label>
                                            <div class="col-md-4">
                                                <input disabled type="date" id="email-input" name="email-input" class="form-control" placeholder="...">
                                                <!-- <span class="help-block">Please enter your email</span> -->
                                            </div>

                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label" for="email-input">Spouse Name</label>
                                            <div class="col-md-4">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="...">
                                                <!-- <span class="help-block">Please enter your email</span> -->
                                            </div>
                                            <label class="col-md-2 col-form-label" for="email-input">Blood Group</label>
                                            <select class="col-md-4 form-control">
                                              <option>A+</option>
                                              <option>A-</option>
                                              <option>B+</option>
                                              <option>B-</option>
                                              <option>AB+</option>
                                              <option>AB-</option>
                                              <option>O+</option>
                                              <option>O-</option>
                                            </select>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label" for="email-input">Religion</label>
                                            <select class="col-md-2 form-control">
                                              <option>Hindu</option>
                                              <option>Muslim</option>
                                              <option>Shikh</option>
                                              <option>Christian</option>
                                            </select>
                                            <label class="col-md-2 col-form-label" for="email-input">Nationality</label>
                                            <div class="col-md-2">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="...">
                                                <!-- <span class="help-block">Please enter your email</span> -->
                                            </div>
                                            <label class="col-md-2 col-form-label" for="email-input">Addhar Number</label>
                                            <div class="col-md-2">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="...">
                                                <!-- <span class="help-block">Please enter your email</span> -->
                                            </div>

                                        </div>
                                        <div class="row">
                                            <label><strong>[C]ontact Details</strong></label>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label" for="email-input">Email-ID</label>
                                            <div class="col-md-6">
                                                <input disabled type="email" id="email-input" name="email-input" class="form-control" placeholder="..">
                                                <!-- <span class="help-block">Please enter your email</span> -->
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label" for="email-input">Office Phone Numbers</label>
                                            <div class="col-md-6">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="..">
                                                <!-- <span class="help-block">Please enter your email</span> -->
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label" for="email-input">Ext. No.</label>
                                            <div class="col-md-6">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="..">
                                                <!-- <span class="help-block">Please enter your email</span> -->
                                            </div>
                                        </div>
                                    </tab>
                                    <tab heading="Employee [A]ddress">
                                        <div class="row">
                                            <label class="col-md-6"><strong><u>Present Address</u></strong></label>
                                            <label class="col-md-6"><strong><u>Permanent Address</u></strong>&nbsp;  <input type="checkbox">Same as Present address</label>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-1 col-form-label" for="email-input">Address 1</label>
                                            <div class="col-md-5">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="..">
                                                <!-- <span class="help-block">Please enter your email</span> -->
                                            </div>
                                            <label class="col-md-1 col-form-label" for="email-input">Address 1</label>
                                            <div class="col-md-5">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="..">
                                                <!-- <span class="help-block">Please enter your email</span> -->
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-1 col-form-label" for="email-input">Address 2</label>
                                            <div class="col-md-5">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="..">
                                                <!-- <span class="help-block">Please enter your email</span> -->
                                            </div>
                                            <label class="col-md-1 col-form-label" for="email-input">Address 2</label>
                                            <div class="col-md-5">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="..">
                                                <!-- <span class="help-block">Please enter your email</span> -->
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-1 col-form-label" for="email-input">Address 3</label>
                                            <div class="col-md-5">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="..">
                                                <!-- <span class="help-block">Please enter your email</span> -->
                                            </div>
                                            <label class="col-md-1 col-form-label" for="email-input">Address 3</label>
                                            <div class="col-md-5">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="..">
                                                <!-- <span class="help-block">Please enter your email</span> -->
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-1 col-form-label" for="email-input">Country</label>
                                            <div class="col-md-5">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="..">
                                                <!-- <span class="help-block">Please enter your email</span> -->
                                            </div>
                                            <label class="col-md-1 col-form-label" for="email-input">Country</label>
                                            <div class="col-md-5">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="..">
                                                <!-- <span class="help-block">Please enter your email</span> -->
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-1 col-form-label" for="email-input">State</label>
                                            <div class="col-md-5">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="..">
                                                <!-- <span class="help-block">Please enter your email</span> -->
                                            </div>
                                            <label class="col-md-1 col-form-label" for="email-input">State</label>
                                            <div class="col-md-5">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="..">
                                                <!-- <span class="help-block">Please enter your email</span> -->
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-1 col-form-label" for="email-input">City</label>
                                            <div class="col-md-5">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="..">
                                                <!-- <span class="help-block">Please enter your email</span> -->
                                            </div>
                                            <label class="col-md-1 col-form-label" for="email-input">City</label>
                                            <div class="col-md-5">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="..">
                                                <!-- <span class="help-block">Please enter your email</span> -->
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-1 col-form-label" for="email-input">District</label>
                                            <div class="col-md-5">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="..">
                                                <!-- <span class="help-block">Please enter your email</span> -->
                                            </div>
                                            <label class="col-md-1 col-form-label" for="email-input">District</label>
                                            <div class="col-md-5">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="..">
                                                <!-- <span class="help-block">Please enter your email</span> -->
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-1 col-form-label" for="email-input">PIN</label>
                                            <div class="col-md-5">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="..">
                                                <!-- <span class="help-block">Please enter your email</span> -->
                                            </div>
                                            <label class="col-md-1 col-form-label" for="email-input">PIN</label>
                                            <div class="col-md-5">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="..">
                                                <!-- <span class="help-block">Please enter your email</span> -->
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-1 col-form-label" for="email-input">Phone No.</label>
                                            <div class="col-md-5">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="..">
                                                <!-- <span class="help-block">Please enter your email</span> -->
                                            </div>
                                            <label class="col-md-1 col-form-label" for="email-input">Phone No.</label>
                                            <div class="col-md-5">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="..">
                                                <!-- <span class="help-block">Please enter your email</span> -->
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-1 col-form-label" for="email-input">Cell No.</label>
                                            <div class="col-md-5">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="..">
                                                <!-- <span class="help-block">Please enter your email</span> -->
                                            </div>
                                            <label class="col-md-1 col-form-label" for="email-input">Cell No.</label>
                                            <div class="col-md-5">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="..">
                                                <!-- <span class="help-block">Please enter your email</span> -->
                                            </div>
                                        </div>
                                    </tab>
                                    <tab heading="[E]mployee Details">
                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label" for="email-input">Posted At.</label>
                                            <div class="col-md-2">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="..">
                                                <!-- <span class="help-block">Please enter your email</span> -->
                                            </div>
                                            <label class="col-md-2 col-form-label" for="email-input">Posted On</label>
                                            <div class="col-md-2">
                                                <input type="date" id="email-input" name="email-input" class="form-control" placeholder="..">
                                                <!-- <span class="help-block">Please enter your email</span> -->
                                            </div>
                                            <label class="col-md-2 col-form-label" for="email-input">ESI Dispensary</label>
                                            <div class="col-md-2">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="..">
                                                <!-- <span class="help-block">Please enter your email</span> -->
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label" for="email-input">PAN No.</label>
                                            <div class="col-md-2">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="..">
                                                <!-- <span class="help-block">Please enter your email</span> -->
                                            </div>
                                            <label class="col-md-2 col-form-label" for="email-input">Passport No.</label>
                                            <div class="col-md-2">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="..">
                                                <!-- <span class="help-block">Please enter your email</span> -->
                                            </div>
                                            <label class="col-md-2 col-form-label" for="email-input">Passport Issued From</label>
                                            <div class="col-md-2">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="..">
                                                <!-- <span class="help-block">Please enter your email</span> -->
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label" for="email-input">Passport Issue Date</label>
                                            <div class="col-md-2">
                                                <input type="date" id="email-input" name="email-input" class="form-control" placeholder="..">
                                                <!-- <span class="help-block">Please enter your email</span> -->
                                            </div>
                                            <label class="col-md-2 col-form-label" for="email-input">Passport valid Upto</label>
                                            <div class="col-md-2">
                                                <input type="date" id="email-input" name="email-input" class="form-control" placeholder="..">
                                                <!-- <span class="help-block">Please enter your email</span> -->
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label" for="email-input">Bank A/C No.</label>
                                            <div class="col-md-2">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="..">
                                                <!-- <span class="help-block">Please enter your email</span> -->
                                            </div>
                                            <label class="col-md-2 col-form-label" for="email-input">Bank Code</label>
                                            <div class="col-md-2">
                                                <input type="text" id="email-input" name="email-input" class="form-control detailsearch" placeholder=".." (dblclick)="largeModal.show()">
                                                <!-- <span class="help-block">Please enter your email</span> -->
                                            </div>
                                            <div class="col-md-4">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="..">
                                                <!-- <span class="help-block">Please enter your email</span> -->
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label" for="email-input">Staff Block</label>
                                            <div class="col-md-2">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="..">
                                                <!-- <span class="help-block">Please enter your email</span> -->
                                            </div>
                                            <label class="col-md-2 col-form-label" for="email-input">Staff Room</label>
                                            <div class="col-md-2">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="..">
                                                <!-- <span class="help-block">Please enter your email</span> -->
                                            </div>
                                            <label class="col-md-2 col-form-label" for="email-input">Staff Other Info</label>
                                            <div class="col-md-2">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="..">
                                                <!-- <span class="help-block">Please enter your email</span> -->
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-6">
                                                <div class="checkbox">
                                                    <label for="checkbox1">
                                                  <input type="checkbox" id="checkbox1" name="checkbox1" value="AllowLeaveEntry"> Allow Leave Entry
                                                </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <strong>VPF</strong>
                                                        <small>Detail</small>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="form-group row">
                                                            <label class="col-sm-6 col-form-label" for="name">VPF</label>
                                                            <div class="col-sm-6">
                                                                <label class="radio-inline" for="inline-radio1">
                                                                          <input type="radio" id="inline-radio1" name="inline-radios" value="Yes"> Yes
                                                                        </label>
                                                                <label class="radio-inline" for="inline-radio2">
                                                                          <input type="radio" id="inline-radio2" name="inline-radios" value="No"> No
                                                                        </label>
                                                            </div>
                                                        </div>
                                                        <!--/.row-->
                                                        <div class="form-group row">
                                                            <label class="col-sm-6 col-form-label" for="email-input">Ammount</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="..">
                                                                <!-- <span class="help-block">Please enter your email</span> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <strong>Bond</strong>
                                                        <small>Detail</small>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="form-group row">
                                                            <label class="col-sm-6 col-form-label" for="name">Bond</label>
                                                            <div class="col-sm-6">
                                                                <label class="radio-inline" for="inline-radio1">
                                                                          <input type="radio" id="inline-radio1" name="inline-radios" value="Yes"> Yes
                                                                        </label>
                                                                <label class="radio-inline" for="inline-radio2">
                                                                          <input type="radio" id="inline-radio2" name="inline-radios" value="No"> No
                                                                        </label>
                                                            </div>
                                                        </div>
                                                        <!--/.row-->
                                                        <div class="form-group row">
                                                            <label class="col-sm-6 col-form-label" for="email-input">Duration(in Months)</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="..">
                                                                <!-- <span class="help-block">Please enter your email</span> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <strong>ESI</strong>
                                                        <small>Detail</small>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="form-group row">
                                                            <label class="col-sm-6 col-form-label" for="name">ESI</label>
                                                            <div class="col-sm-6">
                                                                <label class="radio-inline" for="inline-radio1">
                                                                          <input type="radio" id="inline-radio1" name="inline-radios" value="Yes"> Yes
                                                                        </label>
                                                                <label class="radio-inline" for="inline-radio2">
                                                                          <input type="radio" id="inline-radio2" name="inline-radios" value="No"> No
                                                                        </label>
                                                            </div>
                                                        </div>
                                                        <!--/.row-->
                                                        <div class="form-group row">
                                                            <label class="col-sm-6 col-form-label" for="email-input">ESI No.</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="..">
                                                                <!-- <span class="help-block">Please enter your email</span> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <strong>PF</strong>
                                                        <small>Detail</small>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="form-group row">
                                                            <label class="col-sm-6 col-form-label" for="name">PF</label>
                                                            <div class="col-sm-6">
                                                                <label class="radio-inline" for="inline-radio1">
                                                                          <input type="radio" id="inline-radio1" name="inline-radios" value="Yes"> Yes
                                                                        </label>
                                                                <label class="radio-inline" for="inline-radio2">
                                                                          <input type="radio" id="inline-radio2" name="inline-radios" value="No"> No
                                                                        </label>
                                                            </div>
                                                        </div>
                                                        <!--/.row-->
                                                        <div class="form-group row">
                                                            <label class="col-sm-6 col-form-label" for="email-input">PF No.</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="..">
                                                                <!-- <span class="help-block">Please enter your email</span> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <strong>Overtime</strong>
                                                        <small>Detail</small>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="form-group row">
                                                            <label class="col-sm-6 col-form-label" for="name">Overtime</label>
                                                            <div class="col-sm-6">
                                                                <label class="radio-inline" for="inline-radio1">
                                                                          <input type="radio" id="inline-radio1" name="inline-radios" value="Yes"> Yes
                                                                        </label>
                                                                <label class="radio-inline" for="inline-radio2">
                                                                          <input type="radio" id="inline-radio2" name="inline-radios" value="No"> No
                                                                        </label>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </tab>
                                    <tab heading="[P]rofesional Details">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label" for="email-input">Grade</label>
                                                    <div class="col-sm-6">
                                                        <input disabled type="text" id="email-input" name="email-input" class="form-control" placeholder="..">
                                                        <!-- <span class="help-block">Please enter your email</span> -->
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label" for="email-input">Emp. type</label>
                                                    <div class="col-sm-6">
                                                        <input disabled type="text" id="email-input" name="email-input" class="form-control" placeholder="TECH">
                                                        <span class="help-block">TEACHING EMPLOYEES</span>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label" for="email-input">Category<strong style="color:red">*</strong></label>
                                                    <div class="col-sm-6">
                                                        <input disabled type="text" id="email-input" name="email-input" class="form-control" placeholder="GEN">
                                                        <span class="help-block">GENERAL</span>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label" for="email-input">Designation</label>
                                                    <div class="col-sm-6">
                                                        <input disabled type="text" id="email-input" name="email-input" class="form-control" placeholder="JROO1">
                                                        <span class="help-block">JROO1</span>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label" for="email-input">Department</label>
                                                    <div class="col-sm-6">
                                                        <input disabled type="text" id="email-input" name="email-input" class="form-control" placeholder="EXAM">
                                                        <span class="help-block">EXAMINATION SECTION</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="col-sm-12">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <strong>Transfer</strong>
                                                            <small>Detail</small>
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="form-group row">
                                                                <label class="col-sm-3 col-form-label" for="email-input">Transfer from</label>
                                                                <div class="col-sm-9">
                                                                    <input disabled type="text" id="email-input" name="email-input" class="form-control" placeholder="...">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-sm-3 col-form-label" for="email-input">Transfer To</label>
                                                                <div class="col-sm-9">
                                                                    <input disabled type="text" id="email-input" name="email-input" class="form-control" placeholder="...">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-sm-3 col-form-label" for="email-input">Date of Trans. In</label>
                                                                <div class="col-sm-9">
                                                                    <input disabled type="date" id="email-input" name="email-input" class="form-control" placeholder="...">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label" for="email-input">Date of Joining<strong style="color:red">*</strong></label>
                                                        <div class="col-sm-9">
                                                            <input type="date" id="email-input" name="email-input" class="form-control" placeholder="..." disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <strong>Stream and Qualification Category</strong>
                                                            <small>Detail</small>
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="form-group row">
                                                                <label class="col-sm-3 col-form-label" for="email-input">Stream</label>
                                                                <div class="col-sm-9">
                                                                    <input disabled type="text" id="email-input" name="email-input" class="form-control" placeholder="...">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-sm-3 col-form-label" for="email-input">Quali. Category</label>
                                                                <div class="col-sm-9">
                                                                    <input disabled type="text" id="email-input" name="email-input" class="form-control" placeholder="...">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </tab>
                                    <tab heading="[E]xperience">
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label" for="email-input">Name of Organization</label>
                                            <div class="col-sm-4">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="...">
                                            </div>
                                            <label class="col-sm-2 col-form-label" for="email-input">Field Experience</label>
                                            <div class="col-sm-4">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="...">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label" for="email-input">Post Held</label>
                                            <div class="col-sm-4">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="...">
                                            </div>
                                            <label class="col-sm-2 col-form-label" for="email-input">Nature of Job</label>
                                            <div class="col-sm-4">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="...">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label" for="email-input">Date From</label>
                                            <div class="col-sm-4">
                                                <input type="date" id="email-input" name="email-input" class="form-control" placeholder="...">
                                            </div>
                                            <label class="col-sm-2 col-form-label" for="email-input">Date To</label>
                                            <div class="col-sm-4">
                                                <input type="date" id="email-input" name="email-input" class="form-control" placeholder="...">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label" for="email-input">Gross Pay</label>
                                            <div class="col-sm-4">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="...">
                                            </div>
                                            <label class="col-sm-2 col-form-label" for="email-input"> Experience(Months)</label>
                                            <div class="col-sm-4">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="...">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label" for="email-input">Remarks</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="...">
                                            </div>

                                        </div>
                                        <div class="form-group row">
                                            <div class="controls col-sm-6">
                                                <div class="input-group">
                                                    <input id="appendedInputButtons" class="form-control" type="text">
                                                    <span class="input-group-btn">
                                                    <button class="btn btn-secondary" type="button">Search</button>

                                                  </span>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Validate</button>
                                                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
                                                <button class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Delete</button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12" style="overflow:auto">

                                                <table class="table table-bordered table-striped table-sm">
                                                    <thead>
                                                        <tr>
                                                            <th>SI. NO.</th>
                                                            <th>Preveious Organization</th>
                                                            <th>Post Held</th>
                                                            <th>From Date</th>
                                                            <th>To Date</th>
                                                            <th>Months</th>
                                                            <th>Field Experience</th>
                                                            <th>Nature of Job</th>
                                                            <th>Gross Pay</th>
                                                            <th>Remarks</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        <tr></tr>
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </tab>
                                    <tab heading="[Q]ualification">
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label" for="email-input">Qualification</label>
                                            <div class="col-sm-2">
                                                <input type="text" id="email-input" name="email-input" class="form-control detailsearch" placeholder="...">
                                            </div>
                                            <div class="col-sm-4">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="...">
                                            </div>
                                            <label class="col-sm-2 col-form-label" for="email-input">Year of Passing</label>
                                            <div class="col-sm-2">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="...">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label" for="email-input">Board/University</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="...">
                                            </div>

                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label" for="email-input">Institute</label>
                                            <div class="col-sm-6">
                                                <input type="date" id="email-input" name="email-input" class="form-control" placeholder="...">
                                            </div>
                                            <label class="col-sm-2 col-form-label" for="email-input">Division</label>
                                            <div class="col-sm-2 ">
                                                <select class="form-control">
                                                            <option>1st</option>
                                                            <option>2nd</option>
                                                            <option>3rd</option>
                                                          </select>
                                            </div>

                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label" for="email-input">Main Qualification</label>
                                            <div class="col-sm-6">
                                                <select class="form-control">
                                                            <option>Select</option>
                                                    <option>Yes</option>
                                                 <option>No</option>
                                                    </select>
                                            </div>

                                            <label class="col-sm-2 col-form-label" for="email-input"> Percentage</label>
                                            <div class="col-sm-2">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="...">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label" for="email-input">Remarks</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="email-input" name="email-input" class="form-control" placeholder="...">
                                            </div>

                                        </div>
                                        <div class="form-group row">
                                            <div class="controls col-sm-6">
                                                <div class="input-group">
                                                    <input id="appendedInputButtons" class="form-control" type="text">
                                                    <span class="input-group-btn">
                                                            <button class="btn btn-secondary" type="button">Search</button>

                                                          </span>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Validate</button>
                                                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
                                                <button class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Delete</button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12" style="overflow:auto">
                                                <table class="table table-bordered table-striped table-sm">
                                                    <thead>
                                                        <tr>
                                                            <th>SI. NO.</th>
                                                            <th>Qualification Code</th>
                                                            <th>Qualification</th>
                                                            <th>Board/University</th>
                                                            <th>Institute</th>
                                                            <th>Division</th>
                                                            <th>Percentage</th>
                                                            <th>Year of Passing</th>
                                                            <th>Main Qualification</th>
                                                            <th>Remarks</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        <tr></tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </tab>
                                    <tab heading="[L]eaving Details" disabled>

                                    </tab>
                                    <tab heading="[G]roup Details" disabled>

                                    </tab>
                                    <tab heading="[E]mp">

                                    </tab>
                                </tabset>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
                    <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
                    <button class="btn btn-sm btn-success" (click)="editmode=!editmode"><i class="fa fa-ban"></i> back</button>
                </div>
            </div>

        </div>

    </div>

    <!--/.row-->
</div>


<div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Select Employee Bank Master</h4>
                <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <select class="form-control">
                                <option>All</option>
                                <option>SI No</option>
                                <option>Bank Code</option>
                                <option>Bank Name</option>
                                <option>Branch</option>
                                <option>Address1</option>
                                <option>Address2</option>
                                <option>Address3</option>
                                <option>City Name</option>
                                <option>State Name</option>
                                <option>PIN</option>
                         </select>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="email-input" name="email-input" class="form-control" placeholder="">
                    </div>
                    <span class="col-md-4"><strong>0 Records of 0</strong></span>
                </div>
                <div class="row" style="overflow:auto">
                    <br>
                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                            <tr>
                                <th>SI No</th>
                                <th>Bank Code</th>
                                <th>Bank Name</th>
                                <th>Branch</th>
                                <th>Address1</th>
                                <th>Address2</th>
                                <th>Address3</th>
                                <th>City Name</th>
                                <th>State Name</th>
                                <th>PIN</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr></tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="largeModal.hide()">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->