<div class="animated fadeIn">
    <div class="row">

        <!--/.col-->
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <strong>Student</strong>
                    <small>Elective Subject Choice Preferences</small>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label for="company">Registration Number</label>
                            <input type="text" class="form-control" id="company" placeholder="Enter your Registration number">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="vat">Semester Code</label>
                            <input type="text" class="form-control" id="vat" placeholder="Enter semester code">
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="street">Name</label>
                            <input type="text" class="form-control" id="street" placeholder="Enter  name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label for="city">Program</label>
                            <input type="text" class="form-control" id="city" placeholder="Enter program">
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="postal-code">Branch</label>
                            <input type="text" class="form-control" id="postal-code" placeholder="Branch">
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="postal-code">Section</label>
                            <input type="text" class="form-control" id="postal-code" placeholder="Section">
                        </div>
                    </div>
                    <!--/.row-->
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label for="city">Academic Year</label>
                            <input type="text" class="form-control" id="city" placeholder="Year">
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="postal-code">Pre Registration For semester</label>
                            <input type="text" class="form-control" id="postal-code" placeholder="Pre Register">
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="postal-code">Institute</label>
                            <input type="text" class="form-control" id="postal-code" placeholder="Institute">
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-success"><i class="fa fa-dot-circle-o"></i> Save changes</button>
                        <button class="btn btn-danger" type="button"><i class="fa fa-ban"></i> Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>


</div>