<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> <strong>Student Information Search</strong>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label class="col-md-4 col-form-label">Show Student Whose Status Is:</label>
                <div class="col-md-8">
                    <label class="checkbox-inline" for="inline-checkbox1">
                    <input type="checkbox" id="inline-checkbox1" name="inline-checkbox1" value="Active"> Active&nbsp;
                  </label>
                    <label class="checkbox-inline" for="inline-checkbox2">
                    <input type="checkbox" id="inline-checkbox2" name="inline-checkbox2" value="Deactive"> Deactive&nbsp;
                  </label>
                    <label class="checkbox-inline" for="inline-checkbox3">
                    <input type="checkbox" id="inline-checkbox3" name="inline-checkbox3" value="AdmissionCancel"> Admission Cancel&nbsp;
                  </label>
                    <label class="checkbox-inline" for="inline-checkbox3">
                      <input type="checkbox" id="inline-checkbox3" name="inline-checkbox3" value="Suspended"> Suspended&nbsp;
                    </label>
                    <label class="checkbox-inline" for="inline-checkbox3">
                        <input type="checkbox" id="inline-checkbox3" name="inline-checkbox3" value="ProgramComplete"> Program Complete&nbsp;
                      </label>
                    <label class="checkbox-inline" for="inline-checkbox3">
                          <input type="checkbox" id="inline-checkbox3" name="inline-checkbox3" value="NotInRollCall"> Not In Roll Call&nbsp;
                        </label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4 col-form-label">Show Student Whose criteria to Search is</label>
                <div class="col-md-8">
                    <label class="radio-inline" for="inline-radio1">
                    <input type="radio" id="inline-radio1" name="inline-radios" value="StudentName"> Student Name
                     </label>
                    <label class="radio-inline" for="inline-radio2">
                       <input type="radio" id="inline-radio2" name="inline-radios" value="RegistrationNo"> Registration No.
                       </label>
                    <label class="radio-inline" for="inline-radio3">
                          <input type="radio" id="inline-radio3" name="inline-radios" value="AcademicYear"> Academic Year
                     </label>
                    <label class="radio-inline" for="inline-radio3">
                      <input type="radio" id="inline-radio3" name="inline-radios" value="Program"> Program
                    </label>
                    <label class="radio-inline" for="inline-radio3">
                        <input type="radio" id="inline-radio3" name="inline-radios" value="STYNo"> STY(semester)No.
                      </label>
                    <label class="radio-inline" for="inline-radio3">
                          <input type="radio" id="inline-radio3" name="inline-radios" value="Rank"> Rank
                        </label>

                    <label class="radio-inline" for="inline-radio3">
                            <input type="radio" id="inline-radio3" name="inline-radios" value="BloodGroup"> Blood Group
                          </label>
                    <label class="radio-inline" for="inline-radio3">
                              <input type="radio" id="inline-radio3" name="inline-radios" value="Branch">Branch
                            </label>

                    <label class="radio-inline" for="inline-radio3">
                                <input type="radio" id="inline-radio3" name="inline-radios" value="CategoryRank"> Category Rank
                              </label>
                    <label class="radio-inline" for="inline-radio3">
                                  <input type="radio" id="inline-radio3" name="inline-radios" value="Section"> Section
                                </label>
                    <label class="radio-inline" for="inline-radio3">
                                    <input type="radio" id="inline-radio3" name="inline-radios" value="StudentCategory">Student Category
                                  </label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4 col-form-label">Enter Desired Character(s) to Search</label>
                <div class="controls col-sm-6">
                    <div class="input-group">
                        <input id="appendedInputButtons" class="form-control" type="text">
                        <span class="input-group-btn">
                <button class="btn btn-info" type="button">Search</button>

              </span>
                    </div>
                    <!-- <button class="btn btn-danger" type="button">Close</button> -->
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> <strong>Click the Desired Student Name to Continue</strong>
        </div>
        <div class="card-body">
            <div class="col-sm-12" style="overflow:auto">
                <table class="table table-bordered table-striped table-sm">
                    <thead>
                        <tr>
                            <th>SI No.</th>
                            <th>Registration No.-Student Name</th>
                            <th>Academic Year</th>
                            <th>Active Status</th>
                            <th>Program-Branch-Section</th>
                            <th>STY</th>


                        </tr>
                    </thead>
                    <tbody>

                        <tr></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>