<div class="animated fadeIn">
    <div class="row">
        <!--/.col-->
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <strong>  Feedback Analysis For Faculty </strong>
                    <small></small>

                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-header" style="margin-bottom:25px">N
                                        <h5> <strong>Department</strong></h5>

                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2 col-form-label">Department</label>
                                        <div class="col-md-4">
                                            <table class="table table-bordered table-striped table-sm">
                                                <!-- <thead>
                                                    <tr>
                                                        <th>Sr.No.</th>
                                                        <th>Student Name(Regist. No.)</th>
                                                        <th>Event Code</th>
                                                        <th>Feedback Send Date and Time</th>
                                                    </tr>
                                                </thead> -->
                                                <tbody>
                                                    <tr>
                                                        <td>Samppa Nori</td>
                                                        <td>2012/01/01</td>
                                                        <td>Member</td>
                                                        <td>
                                                            <span class="badge badge-success">Active</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Estavan Lykos</td>
                                                        <td>2012/02/01</td>
                                                        <td>Staff</td>
                                                        <td>
                                                            <span class="badge badge-danger">Banned</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Chetan Mohamed</td>
                                                        <td>2012/02/01</td>
                                                        <td>Admin</td>
                                                        <td>
                                                            <span class="badge badge-secondary">Inactive</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Derick Maximinus</td>
                                                        <td>2012/03/01</td>
                                                        <td>Member</td>
                                                        <td>
                                                            <span class="badge badge-warning">Pending</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Friderik Dávid</td>
                                                        <td>2012/01/21</td>
                                                        <td>Staff</td>
                                                        <td>
                                                            <span class="badge badge-success">Active</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <label class="col-md-2 col-form-label">Employee</label>
                                        <div class="col-md-4">
                                            <table class="table table-bordered table-striped table-sm">
                                                <!-- <thead>
                                                    <tr>
                                                        <th>Sr.No.</th>
                                                        <th>Student Name(Regist. No.)</th>
                                                        <th>Event Code</th>
                                                        <th>Feedback Send Date and Time</th>
                                                    </tr>
                                                </thead> -->
                                                <tbody>
                                                    <tr>
                                                        <td>Samppa Nori</td>
                                                        <td>2012/01/01</td>
                                                        <td>Member</td>
                                                        <td>
                                                            <span class="badge badge-success">Active</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Estavan Lykos</td>
                                                        <td>2012/02/01</td>
                                                        <td>Staff</td>
                                                        <td>
                                                            <span class="badge badge-danger">Banned</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Chetan Mohamed</td>
                                                        <td>2012/02/01</td>
                                                        <td>Admin</td>
                                                        <td>
                                                            <span class="badge badge-secondary">Inactive</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Derick Maximinus</td>
                                                        <td>2012/03/01</td>
                                                        <td>Member</td>
                                                        <td>
                                                            <span class="badge badge-warning">Pending</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Friderik Dávid</td>
                                                        <td>2012/01/21</td>
                                                        <td>Staff</td>
                                                        <td>
                                                            <span class="badge badge-success">Active</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                        <div class="col-md-4">
                                            <button type="button" style="margin-left:400px;" class="btn btn-primary" disabled="disabled">Primary</button>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <a href="#">Double click on the above grid to get employees for the Department.</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--/.col-->
</div>